[2021-01-13 18:23] #475 closed

[2021-01-13 19:37] abelbeck commented on #475
Tested 5fde0e012762b07e4955306b743afcf43fe237c6 and it fixes this issue.

Thanks!

[2021-01-14 19:03] cgzones commented on #471
@KonstantinPlotnikov could you take a look at #478 if its solves the issue for you?

[2021-01-14 21:11] KonstantinPlotnikov commented on #471
#478 completely solves issue #471 for me. Thank you!

[2021-01-15 09:14] BenBE opened #480 "Architecture + uname + LSB meter"
I find myself regularly in need of knowing the information provided in `uname -a` in particular the running kernel's version and architecture for a system. As we already have similar "static meters" for the current hostname it would be fitting to have a similar meter to show the mentioned information of running kernel type/version, LSB release, and architecture.

An example meter may look like:
`S

[2021-01-15 14:12] giannakopoulosj commented on #430
Hello @BenBE could this be requested as new feature?

[2021-01-15 19:41] #468 closed

[2021-01-15 19:55] #471 closed

[2021-01-15 20:00] JaKaspar opened #481 "Crash after exit from setup"
htop crashed after exiting setup and clicking on a first column in the process table

Backtrace here:
[code]

htop.objdump file attached
[htop.objdump.txt](https://github.com/htop-dev/htop/files/5822660/htop.objdump.txt)

[2021-01-15 20:43] cgzones commented on #481
At first glance I am unable to reproduce.
What version are you using?
Can you share your htop configuration file (*~/.config/htop/htoprc*).

[2021-01-15 20:53] JaKaspar commented on #481
Version is 2.2.0 on a newly upgraded debian 10 (upgrade from 9)

content of the config file is:
# Beware! This file is rewritten by htop when settings are changed in the interface.
# The parser is also very primitive, and not human-friendly.
fields=0 48 17 18 38 39 40 2 46 47 49 1
sort_key=0
sort_direction=1
hide_threads=0
hide_kernel_threads=1
hide_userland_threads=0
shadow_other_users=0
show_thr

[2021-01-16 12:07] BenBE commented on #430
As far as I see it (code-wise) there's probably at least two distinct issues here at play. The first one is, that certain structures are sized only at the start, thus additional CPUs aren't necessarily noticed at runtime. The second issue is that the resizing of meters is currently hardly implemented, thus even if we had the additional information in the meter, there might still lay some issues ah

[2021-01-16 19:12] jeroenhabets opened #483 ""secure" mode or flag"
Logged previously by @mmcco as [#350 in the old repo](https://github.com/hishamhm/htop/issues/350)

My use case is described quite well in @decadent 's [comment](https://github.com/hishamhm/htop/issues/350#issuecomment-546653878):

[2021-01-16 22:13] BenBE commented on #483
Part of this self-restriction is already done in #79 that was recently merged for 3.0.6. While this does not introduce a "read-only" mode in itself, it reduces the damage that people can do when getting code execution in `htop`.

Possible routes to go forward are two-fold. The first one that comes to mind is boot-strapping htop into its own seccomp sandbox and sharply limiting the allowed syscalls

[2021-01-17 19:02] giannakopoulosj commented on #430
Regarding the draw issue.
In ppc64le Linux the potential range of CPUs could be get from `/sys/.../cpu/possible`
This could define the max CPU draw area and the max CPU depiction on cpu section of htop (draw all online and offline CPUs) Since this is the higher value that the system may get. To get higher shutdown is needed and lpar profile change must be done before bootup.
The offline CPUs inste

[2021-01-17 21:49] edrozenberg opened #484 "Let Memory [Text] span both columns"
Recent changes have caused the `Memory [Text]` meter to no longer be able to span both columns when the second column has empty space. As a result I'm no longer able to see the cache value in a standard 80 column terminal. `Memory [LED]` can span both columns but I prefer to use `Memory [Text]`.

<img width="479" alt="Mem Text Does Not Fit" src="https://user-images.githubusercontent.com/2648417/10

[2021-01-17 23:22] BenBE commented on #484
This might be addressed by #445 …

[2021-01-17 23:38] edrozenberg commented on #484
Thanks will give it a try when 3.0.6 releases.

[2021-01-18 05:44] natoscott commented on #481
Try a current htop version - there have been many bugs like this one fixed since the 2.x series - 3.0.5 is latest.

[2021-01-18 05:44] #481 closed

[2021-01-19 17:06] #447 closed

[2021-01-19 19:30] decadent commented on #483
I had a simpler approach in mind: just a bunch of `if`s forbidding potentially destructive features when a flag is set. IMO this would work if the program is installed with the permissions of the root user and can't be replaced by a regular user. However, on further thought, Homebrew on Mac installs programs and libraries under regular users, and if Htop uses a library from Homebrew then it could

[2021-01-19 19:38] BenBE commented on #483
I don't think the approach to limit functionality based on compilation settings is any good, when all it takes is for the user to have a compiler and recompile without those restrictions.

The options implemented by #79 are not meant to limit what malware on the system can do, but rather limit the available attack surface within `htop` in such a way that even when you manage to get code execution

[2021-01-19 20:09] cgzones commented on #483
I think the initial use case was allowing regular users via a sudo rule to run htop with root privileges, to be able to gather all data, but not be able to change/modify any process/system state.
[ncdu(1)](https://manpages.debian.org/unstable/ncdu/ncdu.1.en.html) has a similar option: `-r/-rr`.
And when executing htop via sudo, there should not be loaded any user supplied library.

[2021-01-19 20:41] decadent commented on #483
Indeed, my scenario is that I want to put htop in `sudoers`—but then, if it has abilities to modify programs' state or run programs or shell commands then it becomes a potential privileges-escalation route. I'd like very much to be able to squash malware immediately if it invades the system, but alas so far software is quicker than me.

That would also require the ‘user’ (i.e. malware) to replace

[2021-01-19 20:56] BenBE commented on #483
The only tractable way IMO is the way `ncdu` does with its "read-only" mode.
And maybe to be extra sure, also try to drop additional privileges not needed in that case (extension to #79).

[2021-01-20 12:16] BoZenKhaa opened #487 "Switching to tree view hides all processes (htop 2.1.0 in Ubuntu 20.10, WSL2)"
In htop 2.1.0 running in Ubuntu 20.10 in WSL2, switching to tree view doesn't seem to work properly.

Steps to replicate: Switch to the tree view with `t` in htop
What happens: all the processes disappear
Expected behavior: display tree view

Sorted view:
![image](https://user-images.githubusercontent.com/1710518/105173656-3f586600-5b19-11eb-8990-c8c8457181ae.png)

Tree view:
![image](https://user

[2021-01-20 12:27] BoZenKhaa commented on #487
After a tiny bit more of googling I managed to get the tree view to display processes by disabling the `"Hide kernel threads"` in Setup. I am not sure whether this is desired behaviour, but if it is I suppose this issue can be closed.

However, shortly after disabling the setting htop crashed. I am not sure whether the crash was related, I haven't been able to crash htop again afterwards in the tr

[2021-01-20 13:27] fasterit commented on #487
Ubuntu 20.10 (groovy) has htop 3.0.2-1, cf. https://packages.ubuntu.com/groovy/htop
Can you try to install the distro version and reconfirm?
Where does that htop 2.1.0 come from?

[2021-01-20 13:48] BoZenKhaa commented on #487
Oh, sorry, I checked and I have been using 18.04 image without realizing. I tested htop in Ubuntu 20 and the tree view works great, even with the `Hide kernel threads option`. Thank you for quick response and I apologize for the error!

[2021-01-20 13:48] #487 closed

[2021-01-21 22:20] fasterit commented on #432
Thank you very much @neyuru.
We discussed this feature in the core team meeting and nobody seems interested in stepping up to implement this.
I'll close this issue for now.

[2021-01-21 22:20] #432 closed

[2021-01-23 14:20] #484 closed

[2021-01-25 10:48] MurzNN opened #492 "Add column with showing per-process unique memory usage value (calculate RES - SHR)"
Very often we need to know, how much unique RAM used by specific process. The unique memory usage of separate process can be easily calculated manually via `RES - SHR` formula (or `VIRT - SHR - SWAP`?), but online calculating manually for each row is too hard task.

For solve this problem, will be good to add "Process unique memory" (`PUM`?) that will calculate this automatically, alsy with abilit

[2021-01-27 09:02] ahgamut commented on #480
I'd like to try this using the [`utsname`](https://man7.org/linux/man-pages/man2/uname.2.html) struct.

Can someone assign this issue to me?

[2021-01-27 09:46] fasterit commented on #480
@ahgamut done. Good luck.

[2021-01-27 10:21] ahgamut commented on #480
Thanks! I've submitted a PR (#493).

[2021-01-28 07:09] fasterit commented on #419
@timsofteng ping ^

[2021-01-29 13:05] #198 closed

[2021-01-30 12:23] divinity76 opened #503 "segfault when compiling as static"
observed on Ubuntu 20.04 AMD64,

steps to reproduce:
[code]
result:

[code]

[2021-01-30 12:57] BenBE commented on #503
Can you try to compile with debug symbols enabled? Doing so gives a better trace in the error message).

Given from the function that's active in the trace this is likely somewhere in `UsersTable_getRef`. Are you sure the compiled version matches the runtime glibc (cf. the linker warning)?

[2021-01-30 13:12] divinity76 commented on #503
if by `debug symbols enabled` you mean `./configure --enable-debug` , seems that didn't change anything on the segfault output,
[code]

nope, i don't know, not sure how to check, but in a static build, should it matter what the runtime glibc is?

[2021-01-30 15:58] BenBE commented on #503
No. Was referring to providing `-Og -g` as `CFLAGS`/`LDFLAGS` to `make`, so that the resulting binary is debuggable. `--enable-debug` activates some internal housekeeping checks in htop to check the various memory operations work as intended.

Some of the called functions in glibc are dependent on structures that are created by different processes and communicated to the local process. This is mos

[2021-01-30 16:12] divinity76 commented on #503
btw have you (or anyone) tried to reproduce it?

seems compiling it with
[code]
didn't make a difference, still got the same output,
[code]

[2021-01-30 17:43] fasterit commented on #503
[code]
works here on Ubuntu 20.04.1 LTS, also AMD64

aka cannot reproduce

[2021-01-30 17:49] divinity76 commented on #503
@fasterit thanks, can you upload the htop you produced? it'd be interesting to see if that same binary is crashing on my system or not

[2021-01-30 17:56] cgzones commented on #503
Can reproduce on Debian sid with `libnss-systemd` installed and a service with `DynamicUser=yes` running:

[code]

[2021-01-30 18:08] divinity76 commented on #503
did it segfault in _nss_systemd_is_blocked() ? the only reference i could find to that function is https://github.com/systemd/systemd/blob/main/src/nss-systemd/nss-systemd.c

with _nss_systemd_is_blocked() defined as
[code]
and _blocked defined as
[code]
uhm, may suggest that the pointer to the `static thread_local` somehow got messed up? (the static binary believes it's elsewhere, trying to read

[2021-01-30 19:42] ncqgm commented on #462
Food for thought:
Oftentimes, the path is looked at in order to then cd to it elsewhere.
On Linux, cd'ing is often facilitated by tab-completion.
Tab-completion has a higher chance of succeeding the
more starting characters have been typed in.
Hence it is useful to know them.

The proposal would be to start shortening "lefter" components
earlier, say, when only 3 characters are left in a component

[2021-01-30 21:01] schuelermine opened #504 "HTOP keeps resetting "Tree view" setting randomly"
I have it enabled, but every now and then, it just gets disabled for some reason.

[2021-01-30 21:09] fasterit commented on #504
Does that happen when you press the 't' key?
Or when you delete ~/.config/htoprc?

[2021-01-30 22:24] timsofteng commented on #419
@fasterit Thanks for your efforts. Unfortunately I haven't opportunity to test it on freebsd at this time.
Please keep this issue opened and I'll ping you asap.

[2021-01-30 22:33] schuelermine commented on #504
That's a possibility. I may have accidentally pressed "T". I didn't know the shortcut existed. Thanks.
Will file again if the issue persists.

[2021-01-30 22:33] #504 closed

[2021-01-30 22:48] cgzones commented on #419
You can find the current proposal at #436

[2021-01-31 00:27] BenBE commented on #462
The intention behind this proposal is based on the observation, that most often you know most of the path components pretty well and don't need to have them written in full. knowing a path is `/u~/i~/nc~` already tells the full story (`/usr/include/ncursesw`, or the non-widechar version). Given some context (which you have with `htop`) you even can often discern most other cases like `/v~/l~/p~/12

[2021-01-31 14:28] ncqgm commented on #462
OK, true enough. The human layer inbetween "/u~/i~/nc~" and
tab completion makes up for the fact that tab completion
doesn't know whether I want /usr/include/ or /usr/ident/
(contrieved example). But I do know and I will easily type
"/uTAB/idTAB" because when htop shows /u~/i~ it refers to
/usr/ident/ in a given context.

Now, I wonder whether there's a case to be made when it might
make sense to

[2021-01-31 18:52] fasterit opened #506 "Create the ability to run arbitrary commands on keypress"
Generalization of #27. From there:

The htop-dev team would like to see implemented is the functionality to start a `$XDG_CONFIG_HOME/htop/run_script` on a key press (possibly r):
`run_script` would be called with "PID" "USER" "COMMAND" on the currently highlighted line.
Bonus points for providing a sequence of "PID" "USER" "COMMAND" on stdin if multiple processes are tagged (=marked).
Bonus point

[2021-01-31 18:55] fasterit opened #507 "Create a common wrapper for parsing structured command output"
Useful for `updateViaExec` from SystemdMeter and for parsing 'lsb_release -a` from #493.
Possibly useful to display additional columns from script output once #506 is implemented.

[2021-01-31 20:33] rien333 commented on #25
This should be fixed when  https://github.com/htop-dev/htop/issues/506 is merged.

[2021-01-31 20:33] #25 closed

[2021-01-31 20:34] krotera opened #508 "'Prev' key binding for search doesn't work"
Activate search with `F3`. Type in some string to get some matches.

Hit `F3` ('Next') to go down the process list.

'Prev' is labeled `S-F3`, which presumably means `Shift+F3`. But hitting `Shift+F3` exits search, even when there were previous matches.

[2021-01-31 20:36] rien333 commented on #25
Nvm, that issue is for binding just one key to execute an arbitrary command.

[2021-01-31 21:17] fasterit commented on #508
This - of course - works for the terminals we tested on.

Which version of htop do you run, what is your distro, desktop environment and terminal?
What is your `TERM`environment variable?

I suspect your Shift-F3 sends an ESC and then something.

[2021-01-31 21:50] krotera commented on #508
`htop 3.0.5`

`Manjaro 20.2.1 Nibia (kernel 5.4.89-1-MANJARO)`

`KDE 5.78.0 / Plasma 5.20.5`

`konsole 20.12.1`

[code]

[2021-02-01 01:28] Astara opened #509 "please enhance or fix htop to ignore or use the mouse; currently, messes up tree display"
I don't know if this is fixed in a newer version -- haven't been able to try one due to missing libraries to build new one last I tried.  This is in htop:2.2.0 from/on opensuse Tumbleweed (rolling release)

Mouse clicks + movements are not ignored when htop switches the screen mode.  I'm too used to interfaces on my desktop where I can click something (even in a text window) and have the cursor po

[2021-02-01 07:05] fasterit commented on #509
The mouse also works in htop 2.2.0. It is likely your Windows terminal program that does not forward the correct input to your Linux box.
If you get a newer htop you can disable the mouse on the command line with the -m / -M switch.

[2021-02-01 07:08] BenBE commented on #509
There have been quite a few changes since htop 2.2.x days and in particular the mouse handling just recently received some work on master. Building htop from source is usually straight forward and except for some essential libraries you can configure htop to work without any external libraries.

Also the tree mode in versions 3.0.4 and beyond got a few major improvements, thus working with the mou

[2021-02-01 07:16] fasterit commented on #509
Tumbleweed seems to have a 3.0.5 package as well: https://software.opensuse.org/package/htop

[2021-02-01 08:02] #508 closed

[2021-02-01 11:21] OliverJAsh opened #510 "Sorting stops working after awhile"
I am using 3.0.5 (latest) and running:

[code]

This works fine, but I have noticed that after it has been open for awhile, the rows are no longer sorted properly:

![image](https://user-images.githubusercontent.com/921609/106452336-a19d5900-647f-11eb-90a8-00f1b6ccf71c.png)

[2021-02-01 12:05] Astara commented on #509
Could be.  I don't have a ready test program.  I know it works with some and it can be set to emulate a few different terminal types (ANSI, Linux, Xterm, VT100, 102, 220, 320, and others), but I'm usually using an XTERM emulation since they just added 24-bit color to that one.  Anyway, I'll close out this issue until I find out more info and can rebuild htop...

Thanks for the info and great prog!

[2021-02-01 12:05] #509 closed

[2021-02-01 12:24] fasterit commented on #510
What distro are you using and what is your CPU? Are you using a distro package or did you compile htop yourself?

What is "a while" in a timespec? How many minutes / hours / days?

A wild guess is that the display (what is indicated as being sorted) and the process tree (what is really sorted) de-sync. So a full screenshot would be helpful.

[2021-02-01 12:31] OliverJAsh commented on #510
After ~10 minutes but sometimes it might take an hour. It varies.

Does this help?

![image](https://user-images.githubusercontent.com/921609/106459116-4a9c8180-6489-11eb-9b6d-d28e85567bfb.png)

I installed htop using `brew install htop`.

I'm worried there might be sensitive data in there somewhere so I'm a bit hesitant to do that, but I can provide a screenshot of all columns except `Command`:

[2021-02-01 12:32] OliverJAsh commented on #510
I don't know if it's a coincidence but when it does happen, the top row command is always "WindowServer -daemon"

![image](https://user-images.githubusercontent.com/921609/106459305-94856780-6489-11eb-98c8-96ec3b74d721.png)

[2021-02-01 12:44] fasterit commented on #510
That was very helpful information, @OliverJAsh, thank you.
It looks like it does not sort by the other shown columns.

[2021-02-01 13:30] fasterit commented on #510
This seems to be related to the new (application) "sleep mode" in Mac OS "Big Sur".
While this is on, htop freezes screen updates. And when it comes back it needs a few cycles to resort the process list.

So way to reproduce:

1. Let a Mac sit until "Big Sur" decides to power save by suspending application activity
2. htop display will eventually freeze or updates are not once every 1.5 seconds (o

[2021-02-01 13:33] OliverJAsh commented on #510
Interesting. What you're saying might be slightly different to what I'm seeing. I'm running this on a separate monitor and it's always visible. I can see it updating right now, but each cycle the sorting is incorrect. It doesn't ever resolve unless I restart the process.

https://user-images.githubusercontent.com/921609/106465613-18435200-6492-11eb-80bf-b47c069ac0d0.mov

[2021-02-01 13:49] fasterit commented on #510
@OliverJAsh Try press a key in htop (up or down for example to move the highlighted process). Does that work again then?

[2021-02-02 01:56] Cochonours opened #511 "Suggestion: display the number of threads next to the command when threads are hidden"
Similar to https://github.com/htop-dev/htop/issues/99

I understand your desire to show the threads by default, but I was wondering if an alternative would be convenient for htop to have : when the threads are hidden, write the number of threads in green and between parenthesis to the right of the process command (or something similar).

It wouldn't take much horizontal space yet would provide pot

[2021-02-02 05:58] fasterit commented on #511
A THREADS column sounds like the more logical solution for this.
Adding a number to the Command column (currently as a prefix) will be used for #303 which is in development.

[2021-02-02 06:52] Cochonours commented on #511
Nice! This seems great 👍

[2021-02-02 06:52] #511 closed

[2021-02-02 07:24] BenBE commented on #511
That information is even already available by adding the `NLWP` (Number of Light-Weight Processes) column, with [LWP](https://en.wikipedia.org/wiki/Light-weight_process) being one technical solution on Unix used for concurrency.

[2021-02-02 07:28] fasterit commented on #511
Gee, that needs a doc update so people grep'ing for threads (like me) find something

[2021-02-02 07:44] BenBE commented on #511
@fasterit It already says so clearly in the column description in the setup screen:

[code]

;-)

[2021-02-02 08:05] fasterit commented on #511
#512 for using grep :-)

[2021-02-02 08:35] Cochonours commented on #511
Indeed! 😊

[2021-02-02 08:57] #361 closed

[2021-02-02 12:25] OliverJAsh commented on #510
I don't think that changes anything:

https://user-images.githubusercontent.com/921609/106599987-b8ac7b80-6551-11eb-9d3f-be7abcffb950.mov

[2021-02-02 12:57] fasterit commented on #510
O.k., so we are looking for another bug besides the one fixed in https://github.com/fasterit/htop/commit/12f5f06e8855b653c98b75de55a45098bb468d57

Can you try to exit `htop`, `rm` / `mv` away your `~/.config/htop/htoprc` and start `htop` again?
I can't reproduce what you see so just trying to exclude a bugged `htoprc`.

If that doesn't work, does sorting by PID (key 'N') and the sorting by CPU% (k

[2021-02-02 13:08] OliverJAsh commented on #510
In the past I've tried something like that and it seems to fix it, until it happens again a while later.

Yes.

[code]

I'll try this now and let you know if the issue occurs again or not.

[2021-02-02 17:03] #435 closed

[2021-02-05 11:25] OliverJAsh commented on #510
Unfortunately it's happening again.

[2021-02-05 13:47] cgzones opened #516 "SysArchMeter: switch from $(lsb_release) to /etc/os-release ?"
`lsb_release(1)` might not be as portable as thought, e.g. it's not available on FreeBSD by default.
Maybe switch to reading `/etc/os-release`?

[code]

Also if `lsb_release` is not available, `popen()` will print to stderr and clutter the htop screen.
https://github.com/htop-dev/htop/blob/fd4e6b432bcc0d6bac1a15a2ea492b4a540b75a1/SysArchMeter.c#L30

[2021-02-05 14:50] BenBE commented on #516
Depending on the OS this seems to be a mess. While `NAME`+`VERSION` gives a sensible string (usually, as `VERSION` is optional) this sticks some noise (I don't want to see LTS, RELEASE or anything like that, when asking for the version) in the fields and is only partially consistent across OSes:
https://manpages.debian.org/buster/systemd/os-release.5.en.html

WHY did they not split the `CODENAME`

[2021-02-07 01:39] mirath opened #517 "Discrepancies between ps/top/glances and htop"
What does the "Tasks" number means in htop? I though it meant processes, but the process number reported by ps, htop and glances differs from the one reported by htop.

My htop reports around **215** tasks, however top, ps, pgrep and glances all report around **350**:
[code]
So why is htop the odd one out here? What are the exact semantics of its "Tasks" count?

PS. here are the versions of the Li

[2021-02-07 08:25] fasterit commented on #517
htop reports the processes as "Tasks" and the threads (LWP) separately. Your `ps ax` command counts processes, kernel and user threads. Press 'H' to show user-level threads ("thr") and 'K' to show kernel threads ("kthr"). Now count all these three together.

[2021-02-07 23:45] mirath commented on #517
The ps tool does not output threads unless explicitly requested. I did however determined that the discrepancy comes from the fact that htop does not include kernel threads in that count, while every other tool does.

This makes the semantics of the "Tasks" number clear, thanks.

[2021-02-07 23:45] #517 closed

[2021-02-08 17:36] con-f-use opened #519 "Store path shortening for Nix and Guix"
NixOS and Guix use a store path to refer to packages installed under such operating systems.

Example:

![image](https://user-images.githubusercontent.com/11145016/107257896-74324b80-6a3b-11eb-9db7-8160ea806794.png)

I would like to see an option to htop that takes a regular expression or something similar so one can manipulate the "Command" string displayed in htop. Lets say:

[code]

Which would

[2021-02-08 17:37] con-f-use commented on #519
I would really like to label this a "freature request" but I don't seem to be allowed.

[2021-02-08 21:54] BenBE opened #520 "Missing build-aux causes configure failure"
Running `./configure` on blank checkout gives:

[code]

Running:
[code]

resolves this issue.

[2021-02-08 22:01] BenBE commented on #519
You can press <kbd>p</kbd> (show path name) to hide the path name in the `COMMAND` column. HTH.

Related to #462.

[2021-02-09 07:16] fasterit commented on #520
Hm? There is no `./configure` before running `./autogen` (i.e. `autoreconf --force --install`).
That will create `./build-aux/`.

[2021-02-09 12:24] #281 closed

[2021-02-09 19:03] #456 closed

[2021-02-11 14:32] blub4747 opened #523 "Customizing htop eg makeing it show uptime and interface info's"
hello community,

I am trying to tell htop show additional information like the uptime and interface information such as.
IP address and interface stats. Like seen in other examples such as armbian. I did try to replicate their example on my xubuntu without any luck.

maybe someone can please tell me where I am going wrong
Thx, to everyone
blub4747
`
Beware! This file is rewritten by htop when set

[2021-02-12 12:21] daniejstriata opened #524 "print to terminal {feature request}"
Please consider allowing htop to run once and print out configured / specified values to the terminal.

Example:
`htop -m cpu`
![image](https://user-images.githubusercontent.com/13314239/107766820-bc53b580-6d3c-11eb-9784-30cf7d9763ff.png)
`htop -m uptime`
![image](https://user-images.githubusercontent.com/13314239/107766832-c1186980-6d3c-11eb-9631-16d0cf0c4bbb.png)
I'd then be able to use the outp

[2021-02-12 12:30] daniejstriata commented on #406
If I had to use this feature I'd expect the results to show me the utilisation of the GPU for doing work with CUDA, OpenGL, OpenCV, Xtend, or OpenCL. Also, I don't see how a busy GPU would have the same metrics consideration as for a busy CPU.

[2021-02-12 14:45] fasterit commented on #524
Similar to #377

[2021-02-12 14:47] fasterit commented on #26
Done with #199

[2021-02-12 14:47] #26 closed

[2021-02-12 14:50] fasterit commented on #34
Has been resolved in two ways: Fixing the search function and later removing he vim key option altogether (too much collateral damage).

[2021-02-12 14:50] #34 closed

[2021-02-12 19:13] freed00m commented on #34
Can I politely ask, how to enable these vim keybindings? I am looking in man page and searching online to no avail.
All I can find is forks.

[2021-02-12 21:25] fasterit commented on #34
You can't, see comment above: "... and later removing the vim key option altogether (too much collateral damage)."
There is an unfinished PR at #141 to try and implement a better vim mode.

[2021-02-12 23:08] BenBE commented on #34
Which doesn't mean, that there are at least some key bindings in `htop` that are heavily inspired by `vim`: The (incremental) search is reachable both with <kbd>F3</kbd> and <kbd>/</kbd>, which is as close to `vim` as you can get …

FWIW: As there are situations when keyboard mappings outside the ASCII range won't work properly there's usually also a fallback for that situation provided. If it mak

[2021-02-13 00:17] sevagh commented on #406
There is an issue on the previous version of the repo: https://github.com/hishamhm/htop/issues/899

Implementing generic custom meters should solve the problem of vendor neutrality.

[2021-02-13 11:11] daniejstriata commented on #377
I logged a similar request. I'd like to consolidate all the software I use for monitoring and troubleshooting. It would make a big difference if I can run htop and have it output to file on each run so I can pull out what I need. Better even if there are filters like `htop --manual CPU` that would print out just the CPU portion of htop for that moment.

[2021-02-13 11:17] BenBE opened #526 "Custom Meters from external source"
Based on several requests (cf. #406, [#899<sup>historic</sup>](https://github.com/hishamhm/htop/issues/899)) and as the general case would be quite interesting, it might be good to have a generic "Custom Script Meter".

The basic idea for such a meter would be, that `htop` could allow for up to 4 external "meter scripts" that it would execute and run in the background. The output of the program wo

[2021-02-14 11:50] fasterit commented on #526
Thanks for writing the idea up. I think this would make a lot of sense.

Just a few random thoughts from reading through your initial proposal:

variable=value is much more common than variable:value, I'd stick with "="

htop could just listen to a named pipe (FIFO) and programs sending "meter info" there would get bars or column info as requested displayed. Records need to be smaller than `PIPE_B

[2021-02-14 22:31] natoscott commented on #526
May as well accept (parse) floating point since values ultimately become 'double's within htop?

One important consideration is counter values vs non-counter values - counters are (almost always) converted to rates (the change in value divided by the change in time) over consecutive samples, so either:

- we need some way to flag counters vs non-counters (if htop is to do the rate conversion, not

[2021-02-15 08:03] mndza opened #527 "not working with btime 0 (uninitialized time)"
Hello,

Since commit https://github.com/htop-dev/htop/commit/b7836515e8db8ff7a7cb99247472ac10992a4518 `htop` does not work on my embedded system if I did not set the time first (used to work fine).

The problem is caused by these lines:
https://github.com/htop-dev/htop/blob/b7836515e8db8ff7a7cb99247472ac10992a4518/linux/LinuxProcessList.c#L246-L247

I think the main mistake here is confusing the 0

[2021-02-15 08:09] natoscott commented on #527
@mndza so AIUI your /proc/stat file contains a 'btime 0' line, is that correct?  Thanks.

[2021-02-15 08:13] mndza commented on #527
Yes, exactly.

[2021-02-15 08:14] natoscott commented on #527
OK, thanks, I'll tweak the code to better handle this case.

[2021-02-15 09:42] BenBE commented on #526
the idea is having the script to be long-running and providing `htop` with the values as they should be displayed. If the meter update frequency is less than 1Hz this is fine, as only the last record returned from the script is shown. And even if we wanted to communicate with the script how often we are expecting updates, we could just write `update:1000` to indicate updates are expected every 100

[2021-02-15 09:53] #527 closed

[2021-02-15 11:12] #68 closed

[2021-02-15 18:26] aleemont opened #529 "Temperature not showing on Via Eden and AMD Phenom CPUs"
Temperature is showing as `N/A` when enabled on a Via Eden x2 u4200 even though `libsensors` is actually installed.
O.S.: Arch Linux
Device: HP t510 Thin Client

I tried on my main pc (which is running Arch, with an intel core i5 cpu) and temperature is working fine. Thank you.

[2021-02-16 20:25] cgzones commented on #529
What does `sensors -u` show on your system?

[2021-02-16 21:00] Nuc1eoN opened #534 "[Regression] Htop >= 3.0.3 does not list any processes"
On GoboLinux, since version 3.0.3 htop's process list is empty for me. I have also tried the latest version 3.0.5.

Any release prior to that works as expected. Bug reference: https://github.com/gobolinux/Recipes/issues/111 (you will find some logs there)

(Ncurses v6.2, Linux 5.6.10)

[2021-02-16 21:24] cgzones commented on #534
Is the header correctly shown?
Can you search for `"/proc"` in your strace log?

[2021-02-16 22:04] BenBE commented on #534
@Nuc1eoN : Can you please try a `git bisect` between versions 3.0.2 and 3.0.3? This should take about 8-10 compile/test cycles.

To start clone this repository and run the following commands:
[code]

After this run the following steps until `git` gives you a definitive result:
[code]
When running `htop` check if the bug is present. If the version of `htop` works fine, run `git bisect good`, if it

[2021-02-17 07:49] fasterit commented on #534
`Compile htop` on GoboLinux 017 installs htop 3.0.4 at the moment.
This version is not functional.
[code]
yields a functional version. So @cgzones suspicion is confirmed.
I had to do the same to get a functional build on Debian's Hurd port (cf. https://salsa.debian.org/debian/htop/-/commit/3985adac5b6b886f3225ee6fb8cba838d1a84b15).

The reason seems to be that we open PROCDIR with O_NOFOLLOW:
Gobo

[2021-02-17 14:35] BenBE commented on #520
@FlorianJW: Could you please have a look at this again and report back what you did?

[2021-02-18 13:29] hrw opened #538 "Provide a way to select which sensor to use for CPU temperature"
At the moment htop has hardcoded list of x86-64 cpu sensors. So it does not read them on my computers ;(

[code]

For now I added 'acpitz' to hardcoded list but that's not a good solution.

[2021-02-18 14:07] BenBE commented on #538
Related to #529 …

[2021-02-18 15:13] fasterit commented on #538
Just FTR acpitz = ACPI Thermal Zone

[2021-02-19 17:23] aleemont commented on #529
`
$ sensors -u

via_cputemp-isa-0000
Adapter: ISA adapter
Core 0:
    temp1_input: 34.000

via_cputemp-isa-0001
Adapter: ISA adapter
Core 1:
    temp1_input: 37.000
`

[2021-02-19 18:42] marcin-chwedczuk opened #539 "Provide a way to view very long command lines"
It is not unusual for JVM applications to pass a lot of switches and sometimes even a `classpath` as arguments to `java` command. The end result is a command line that is often more than 4k bytes long. I often encounter such long commands during devops operations at work. Current behaviour of `htop` allows you only to search for a particular command line, and scroll to the left and to the right us

[2021-02-19 20:26] fasterit commented on #539
There is a 'w' hotkey since htop 3.0.3.
It shows the whole command in an infoscreen.

[2021-02-19 21:09] marcin-chwedczuk commented on #539
@fasterit Thanks, indeed I did not know that `w` exists and I must admit that I have searched for a while looking for solution. I did some tests and it looks very promising, I am closing the ticket.

[2021-02-19 21:09] #539 closed

[2021-02-19 23:29] #480 closed

[2021-02-22 11:57] Nuc1eoN commented on #534
I can confirm adding `--with-proc=/proc/` is a valid workaround.

[2021-02-22 19:49] riveravaldez commented on #529
Hi, I'm having similar issue in similar conditions but in a different machine with updated Debian (testing).

[code]

**Hardware info:**

[code]

If this shouldn't be here, sorry in advance, and please let me know so I'll delete the comment.

Thanks a lot!

[2021-02-23 22:55] nbald opened #541 "Need more columns for CPUs meters"
New CPUs have a crazy number of cores. 4 columns is not enough. The screen gets filled with CPUs meters. We do not see the processes anymore.

Here is a screenshot on a dual Epyc 7702 server:
![Capture d’écran du 2021-02-23 23-51-38](https://user-images.githubusercontent.com/1681443/108918718-1d7b6300-7632-11eb-8ea9-bde8b1f055fe.png)

[2021-02-24 00:47] BenBE commented on #541
Which version of htop are you running? The most recent release should have 4-columns-per-side CPU meters available. If not you might have a look at master.

[2021-02-25 19:39] Karsten1987 opened #542 "No threads on OSX"
This is essentially a cross-post from this original issue here: https://github.com/hishamhm/htop/issues/552

The described behavior is still present (at least on my setup) where toggling `H` or `K` does not have any effect, nor do I see any threads visualized.

[code]

The ticket's been opened quite a while ago and I haven't found any issue/post around that topic on this new repo. Please feel free

[2021-02-26 20:20] Nudin commented on #408
I currently give this a try, seems to be easy to fix.

[2021-02-27 16:22] aleemont commented on #529
Any news?

[2021-02-27 20:23] BenBE commented on #529
There's been some internal discussion on how to best go forward on this issue as libsensors is a mess<sup>[[citation needed](https://xkcd.com/285/)]</sup> and there is no way that this can be solved for any CPU from htop without taking up much time that could better be spent on improving other aspects of htop. Instead it's probably better to resolve this issue at its root - i.e. libsensors - by do

[2021-02-28 04:52] pthfdr-42 opened #545 "Feature request: Show "true" CPU usage."
Add a option to show CPU usage in frequencies.
Basically, multiply the percentage and the current core frequency.
Nearly every current CPU have the ability to dynamically adjust the frequency, and on smartphones there are different cores on the same SoC, so the "CPU usage" is pointless without frequency.

[2021-02-28 07:54] fasterit commented on #545
Processes are typically dynamically re-assigned between cores, esp in the big-little architectures you refer to. And cores change frequencies faster than you can watch screen updates. So that doesn't seem like a reasonable feature request to me.

You can add the CPU frequency to the meters and watch the show a bit (in case you have not discovered that option yet).

/DLange

[2021-02-28 10:00] BenBE commented on #545
This doesn't make much sense for several reasons. The first reason is, as @fasterit mentioned, that CPU cores can change their frequency several times a second. Thus when we snapshot the utilization for display there's no good way we could return this to meaningful "timeslot" counts.

The second thing is that the calculation of `ticks * frequency` doesn't make much sense unit-wise. Even more sore

[2021-02-28 10:00] #545 closed

[2021-02-28 18:41] cgzones commented on #542
I rebased https://github.com/hishamhm/htop/pull/848 in #546. Can someone give it a try?

[2021-03-01 07:38] #516 closed

[2021-03-02 00:50] hardhub opened #552 "Add setting to disable IRIX mode for CPU percents"
On regular top command it happens with keyboard shortcut Shit + I

[2021-03-02 09:29] BenBE commented on #552
You mean this?

https://logic.edchen.org/irix-mode-vs-solaris-mode-in-top-command/

[2021-03-02 10:03] polluks commented on #542
Works fine:
[code]

[2021-03-02 16:15] fasterit commented on #552
@cgzones points out https://github.com/htop-dev/htop/commit/15eab2012d2100e1ddd20c186db23a8172b5858d . Do you need anything beyond the `PERCENT_NORM_CPU` column?

[2021-03-02 17:07] hardhub commented on #552
Yes, good reference.

[2021-03-02 17:09] hardhub commented on #552
As I understand 2 columns will be available - normalized to 100% and original one. That sounds good.

[2021-03-02 18:38] rubyFeedback commented on #534
Sounds like a useful work around. GoboLinux is actually, despite claims to the contrary,
compatible to FHS as-is. E. g. /proc/ is just a symlink not shown by default (they can
use gobohide/unhide to show it as is; in fact I was using GoboLinux as a FHS distribution
by flat-out compiling into /usr as-is - and that worked too just fine! So many people have
never used GoboLinux yet still make strange

[2021-03-03 08:15] fasterit commented on #552
`PERCENT_NORM_CPU` for Darwin has been merged in 4f9cf14, closing.

[2021-03-03 08:15] #552 closed

[2021-03-03 11:56] birdie-github opened #556 "Add sum of tmpfs mounts as additional item in mem meter"
A recurring issue for lots of Linux users nowadays is that they run out of RAM without understanding where the RAM has gone.

It's due to modern Linux distros (at the very least Fedora and Arch) mounting `tmpfs` to `/tmp` `/run` and `/dev/shm`. Other distros are also slowly moving in this direction.

Please include all the `tmpfs` mount points usage into the `Used RAM` report/value.

Right now we

[2021-03-03 12:06] fasterit commented on #556
Since 3d497a3760626d398fffc8f4594e8b9658f67d55 tmpfs usage is contained in the `used` memory item.

[2021-03-03 12:09] birdie-github commented on #556
It's great it's included but I'd love to see this information as a separate column/field to avoid confusion.

[2021-03-03 17:26] gonzaarcr opened #557 "Cursor doesn’t follow item when pressing H"
I would be nice that the cursor still follows the same item when pressing H (show/hide user process) or K (show/hide kernel) if it’s posible. Really handy when using tree mode.

I don’t know if it’s a bug or a feature request.

Htop version: 3.0.5

[2021-03-03 18:50] cgzones commented on #556
Something like #558?

[2021-03-04 06:50] fasterit opened #560 "Improve follow logic"
* stay in follow mode on sort inversion (I)
* stay in follow mode after viewing help screen (h)
* select parent process (where available) when having followed a thread and hiding these (H), cf. https://github.com/htop-dev/htop/pull/559#issuecomment-790151550

[2021-03-04 06:50] #557 closed

[2021-03-04 16:08] BenBE commented on #556
@birdie-github Please add comments instead of editing your initial issue description as this is much easier to follow up upon.

[2021-03-14 13:47] #560 closed

[2021-03-15 12:01] aleemont opened #563 "Temperature not showing on ryzen 5 4600H"

[2021-03-15 12:03] aleemont commented on #563
Updated and now it works. Sorry

[2021-03-15 12:03] #563 closed

[2021-03-15 21:34] #556 closed

[2021-03-19 14:16] dmilith opened #567 "Support for CPU frequency on BSD*"
After `kldload cpufreq`, every CPU has own sysctl to read frequency from, like: `dev.cpu.X.freq`. Example:

[code]

Htop could use that to show actual core frequency :)

[2021-03-19 20:21] BenBE opened #568 "Move uses of unistd.h to generic folder"
The header `unistd.h` is not portable, and thus should not be used without checking for its presence. While the `configure` script does check, the actual uses in the source do not.

[2021-03-19 20:24] BenBE opened #569 "Run IWYU to clean up includes"
Since the last major cleanup with IWYU a few unnecessary uses of headers and missing includes (implicitly included anyway) have sneaked into the code and should be cleaned up sometimes.

[2021-03-19 20:35] cgzones commented on #567
The FreeBSD port has support for CPU frequencies since fd2a0cf4, OpenBSD is wip in #570

[2021-03-21 17:20] #529 closed

[2021-03-21 17:20] #538 closed

[2021-03-22 12:29] richliu commented on #541
In F2 Setup, it support 4 columns mode on left and right, it can use this mode.

Probably add 3 columns would be better idea for mass CPUs requirement.

![image](https://user-images.githubusercontent.com/41711/111989863-49b0d380-8b4d-11eb-8121-12a71af5540c.png)

[2021-03-22 12:32] fasterit commented on #541
A choice of 2/3/4 columns in the header are already implemented in #445

[2021-03-22 13:32] marxin opened #573 "Program terminated with signal SIGSEGV, Segmentation fault."
I noticed the following crash:

[code]

happens for `htop 3.0.5` on openSUSE Tumbleweed on a system with 128 cores.

[2021-03-22 14:11] marxin commented on #573
Display options:
![Screenshot from 2021-03-22 15-10-18](https://user-images.githubusercontent.com/2658545/112003021-cb3e3c80-8b20-11eb-9b47-0303786a86bc.png)

[2021-03-22 14:39] BenBE commented on #573
This seems related to #361. Thanks for this report. Given the arguments passed to those various calls this narrows down the code path that we need to look for for the actual issue. Suspicion in #361 was that there's at least one case still left.

How hard was it to trigger that bug? Any special things you did to jinx it to trigger faster? Could you recheck with full debug info using the dev versio

[2021-03-22 14:55] marxin commented on #573
Thanks! I can confirm it's dup of #361 and its fixed with the current master.

[2021-03-22 14:55] #573 closed

[2021-03-22 14:58] fasterit commented on #191
This is missing enough data for us to assess for sure whether #215 or one of the other improvements to the code base fixed the segfault you reported. htop 2.1.0 itself if not supported by us ("upstream"), so you'd have to poke your distro in case you want to stay on that version.

As this bug report has not received any debug backtrace for six months, I'll close the bug report.
Feel free to reopen

[2021-03-22 14:58] #191 closed

[2021-03-23 08:25] #541 closed

[2021-03-23 16:19] ifohancroft opened #576 "Feature Request: Ability to show the alternative keybindings in the Function Bar"
Htop allows you to use either the F-keys, or alternative keys such as h, s, /, etc, however the Function Bar always shows the F-keys. Some of us have keyboards that don't have an F-Row and we can't remember the alternative keys. It would be extremely helpful to have the option to make the Function Bar show the alternative keys instead.

[2021-03-23 17:14] fasterit commented on #576
Not having function keys is common Chromebooks. Which are not really frequently used to administer Linux or BSD systems.
Is there any other case where function keys are not available?

[2021-03-23 20:21] ifohancroft commented on #576
60% keyboards, 65% keyboards, split/ergo keyboards, 40/45% keyboards.
Pretty much 75% of the custom mechanical keyboards community.

For example, I am currently on a 45% keyboard and my work is Linux Servers, writing code for/on Linux Servers, etc :D

[2021-03-23 20:36] BenBE commented on #576
The key bindings are also documented when pressing <kbd>F1</kbd> or <kbd>?</kbd> …

[2021-03-23 21:48] ifohancroft commented on #576
They are also in the man page, but nothing beats being able to make the function bar show them instead.

[2021-03-27 12:39] bolemo commented on #534
For info: same exact issue (symptoms) appeared on htop 3.0.3 and up with Entware: https://github.com/Entware/Entware/issues/627

I tried the `--with-proc=/proc/` but it does not work there, as /proc does not seem to be a symlink.
I also removed `O_NOFOLLOW` from source code, without success.

[2021-03-27 15:48] fasterit commented on #534
What mount point does `proc` have then (see `mount  | grep "type proc"`)?

Does it work if you build it with that mount point?

[2021-03-27 16:54] bolemo commented on #534
[code]

[2021-03-27 18:37] zyxmon commented on #534
`ac_cv_func_openat=no` solved the problem on another device.

[2021-03-28 00:57] RezaAmini-Dev opened #581 "xSnprintf failure on CloudLinux 8.3 when displaying header"
[code]

[htop.objdump.zip](https://github.com/htop-dev/htop/files/6216672/htop.objdump.zip)

[2021-03-28 09:14] BenBE commented on #581
Okay, let's get some line numbers:
[code]

Can you provide a copy of your `.htoprc` configuration file and say, which Meters you had active in the header (and which display mode (text, bar, graph, led) at the time of crash? Did you do anything specific to cause the crash?

[2021-03-29 20:02] mmetts opened #584 "AIX port"
Is someone going to take up the branch in the old repo and finish getting htop working on AIX?  Please advise.  Thanks.

[2021-03-29 21:19] natoscott commented on #584
@mmetts which branch is that?  I couldn't see one with anything AIX related in the name ... FWIW, I'd be happy to help some other developer working on AIX with keeping the platform up-to-date but I don't have access to an AIX machine myself.

[2021-03-29 21:22] mmetts commented on #584
Hi!  this is the one I'm thinking about https://github.com/hishamhm/htop/pull/832

[2021-03-29 21:27] natoscott commented on #584
Let's see if any of those folks are still around ... ping @NattyNarwhal @kadler @bmarwell ... are you interested in collaborating on an AIX version of htop?

[2021-03-29 21:31] mmetts commented on #584
Hi Nathan,
I would like to help but I don't think I have the skills.  My abilities are probably limited to being a build test-dummy.  I have a handful of AIX 7.1 and AIX 7.2 machine (all running on Power8) available to me, though.  I'm the principal administrator of these machines so I have some discretion WRT build, install, and testing of packages.  If there's a way for me to contribute that way

[2021-03-29 22:00] BenBE commented on #584
The largest chunk of work with this patchset will consist of mostly three tasks:
1. Rebasing everything to current head of development
2. Cleaning up its code style to follow our `STYLEGUIDE` (cf. `docs`)
3. Adapt changes and code cleanups from work done in 3.0.x that changed how certain internals operate.

But before those tasks can be worked on I think it's important, as @natoscott said, to ger

[2021-03-29 22:03] NattyNarwhal commented on #584
yes, I'm around. i don't use AIX as much as I used to (since I got a box fast enough I didn't need to cross-compile anymore), but I'd be willing to put what I had upstreamed.

[2021-03-29 22:10] BenBE commented on #584
Pinging @LionNatsu:

Is it okay to use your commit https://github.com/hishamhm/htop/pull/832/commits/67e368914a1b03cbf18c4c7b678f424f5e18ad2e in the porting work going forward?

[2021-03-29 22:15] BenBE commented on #584
@NattyNarwhal Could you try to work on the first two points on the list I posted? We'll likely get to the third one soon enough, but having especially the first one out of the picture should simplify going forward quite a bit.

One note regarding OS checks: please create a define `HTOP_AIX` via `configure.ac` as is done for all other platforms.

[2021-03-30 05:16] bmarwell commented on #584
I got a working version, but I don't remember which branches I used and I am sadly not a C coder. But I can compile things on AIX and give feedback.

[2021-03-30 21:17] BenBE opened #586 "Read os-release(5) on FreeBSD"
Starting with FreeBSD 13 the distribution information are available via os-release(5).

Thus on FreeBSD an additional check for reading the information from os-release(5) like is done on Linux should be added.

Maybe also check if it's worth consolidating this in the generic directory.

[2021-03-30 21:41] cgzones commented on #586
Isn't the os-release code already platform independent, and when the configure script finds an os-release file it gets read?

[2021-03-30 21:53] natoscott commented on #586
@cgzones not strictly speaking, no - some platforms (pcp) may be reading os-release information from elsewhere (historical data in a pcp archive or a remote pcp server - local /etc/os-release is not read by local htop code in these cases).

[2021-03-30 22:25] BenBE commented on #586
On FreeBSD currently only uname(2) is considered.

As the code for reading os-release(5) should be identical for all platforms that support it (Linux, FreeBSD, others???) it makes sense to have that part in the generic section and allow platforms call it on demand.

[2021-04-02 09:17] Miguel86 commented on #581
Hi:
I had the same problem with Cloudlinux 8.3 and Cpanel server. There is a known bug in the server load displaying billions:
https://blog.cloudlinux.com/beta-kernel-module-v.2.0-29-for-cloudlinux-8-and-cloudlinux-7-hybrid-updated

After updating problem of server load solved and was also being able to execute htop without problems.

Hope it helps.

[2021-04-02 10:50] BenBE commented on #581
@RezaAmini-Dev Does the patch in #582 solve your issue?

[2021-04-02 20:52] dmilith commented on #567
Awaiting release then :) thanks

[2021-04-03 18:23] schenklklopfer opened #588 "Failed to compile on Illumos-a0570dbda2 March 2021"
Tried to compile htop from source 'htop 3.0.6-dev' on OpenIndiana 2020.10 build Illumos-a0570dbda2.
Configure detects OpenSolaris correctly and does not see any error here.

In the following the logs from configure and make.

- configure:

[code]

- make:
[code]

[2021-04-03 18:30] BenBE commented on #588
Can you search in the manpages which headers provide `stack_t`, `k_sigset_t`, `ino64_t`, `off64_t` and `rlim64_t`. Declarations for the following functions are missing too: `strcasestr` and `strlcpy`.

Also you may run the build with `make -k` to compile all failing files.

[2021-04-03 18:51] schenklklopfer commented on #588
`stack_t`

[code]

`k_sigset_t`

notihng containing typedef

`ino64_t`

[code]

`off64_t`

[code]

`rlim64_t`

[code]

- make -k

[code]

[2021-04-03 19:25] schenklklopfer commented on #588
Some minimal changes that seems to work:

[code]

[2021-04-03 23:37] #567 closed

[2021-04-04 02:44] etosan opened #590 "Feature request: Humanize search and implement at least per session search history"
I often search trees for various processes with `F3`,  and current search mechanism is extremely painful, one could say even tragic,

First, most annoying issue is, that just pressing any character once search started breaks the search. This makes one almost instantly lose the position. Because there is no history, it is extremely annoying having to recover from this unexpected search exit.

Inste

[2021-04-04 03:03] etosan commented on #183
I would like to have feature like this too, I was thinking about it for quite some time, but instead of "infobox" I would suggest same approach we do, when doing `lsof` display with `l`.

There is no point in `infoboxing`. When I am drilling down into the specific process I don't care about other processes, same way when I am drilling down into it's open files with `l`, i don't care about other pr

[2021-04-04 20:13] #588 closed

[2021-04-07 09:42] BenBE opened #591 "Memory meter behaves strangely"
Let's have a look at the following screenshot:
![image](https://user-images.githubusercontent.com/111196/113844190-8529df80-9794-11eb-977f-76dd4b64f060.png)

The memory meter seems totally inconsistent (also the used memory value), as this would indicate that Chromium uses less than 1GiB of memory, which is unlikely given the memory stats below. There's one large `tmpfs` that accounts for about 14

[2021-04-07 09:50] BenBE commented on #591
After **killing** one chrome process, the following situation shows:
![image](https://user-images.githubusercontent.com/111196/113847076-62e59100-9797-11eb-893e-5fc81fea12d9.png)

[code]

[code]

[2021-04-07 12:48] wcasanova opened #592 "crash open"
lastest commit crash in open
archlinux
htop-dev-git-3.0.5.r204.gf3a37f9
The solution was to remove the htoprc, but when configuring it gives the same error, it seems to be when the disk read / write column is set.
IO_READ_RATE, IO_WRITE_RATE

[code]

[2021-04-07 13:52] BenBE commented on #592
Can you get a full backtrace (`bt full`) from gdb alongside the file the that htop is reading at that moment?

[2021-04-07 14:12] wcasanova commented on #592
[htop.objdump.zip](https://github.com/htop-dev/htop/files/6272194/htop.objdump.zip)

[2021-04-07 14:16] fasterit commented on #592
[code]

[2021-04-07 14:29] fasterit commented on #592
`(now - process->io_last_scan_time)` is `zero` due to f3a37f9 (356488a).
Issue in two places in `linux/LinuxProcessList.c`

[2021-04-07 22:20] natoscott commented on #592
@fasterit @wcasanova thanks - looking into it.

[2021-04-07 23:30] natoscott commented on #592
@wcasanova could you try out PR #593 please?  I've not been able to reproduce the crash locally but I believe this is the root cause here.

[2021-04-08 13:36] fasterit commented on #592
#593 at 68585fa does not fix the Floating point exception for me.

Breaking at `linux/LinuxProcessList.c:429`, I get:

[code]

And 0 - 0 is zero and that faults as a divisor.

[2021-04-08 14:33] wcasanova commented on #592
@natoscott still gives the error
[code]

[2021-04-08 16:26] etosan commented on #590
It seems there is problem reaching consensus regarding vim modes in other areas of htop, is this proposal being affected by that?

[2021-04-09 00:44] natoscott commented on #592
@wcasanova oh, my mistake - its happening in the very first call to ProcessList_scan, not the second as I thought:

[code]

So my earlier change did nothing for this case.  I've pushed a followup commit to PR #593 - can you try that out once more?  Thanks!

[2021-04-09 10:43] fasterit commented on #592
The current version of #593 looks good. I cannot reproduce the FP exception anymore.

[2021-04-09 11:13] #592 closed

[2021-04-12 11:43] donalod commented on #368
Seems to be dramatically under-reporting memory also, anyone else? M1, BigSur, brew installed htop 3.0.5.
![image](https://user-images.githubusercontent.com/4045949/114389195-9c017500-9b8c-11eb-83f7-a6af59be2cb9.png)

[2021-04-12 12:38] BenBE commented on #368
Chrome is one of those programs that heavily fork and share memory across processes. The memory meter is based on the information in `/proc/meminfo`. Simply adding the values from the `RES` or even `VIRT` columns will yield wildly incorrect calculations as part of the usage reported there might be shared or even swapped.

[2021-04-12 12:52] donalod commented on #368
Gotcha but on OSX `file /proc/meminfo` gives `/proc/meminfo: cannot open `/proc/meminfo' (No such file or directory)`
as per `sw_vers` -> `ProductName:	macOS
ProductVersion:	11.2
BuildVersion:	20D64` so even with "Real Mem" column on, the reported values in activity monitor don't change, so am wondering where the `darwin` version of htop grabs its info?
![image](https://user-images.githubuserconte

[2021-04-12 13:49] BenBE commented on #368
https://github.com/htop-dev/htop/blob/f3d9ecaa626f2f9124f5c53b083511572ef47a66/darwin/DarwinProcessList.c#L99-L105

https://github.com/htop-dev/htop/blob/f3d9ecaa626f2f9124f5c53b083511572ef47a66/darwin/Platform.c#L240-L251

Fields `active_count`, `wire_count`, `purgeable_count`, and `inactive_count`.

[2021-04-14 15:21] #483 closed

[2021-04-15 00:54] psztoch commented on #523
Armbian uses old htop version 2.2.0 with custom patches.

These patches are published here:
https://github.com/armbian/build/tree/master/packages/extras-buildpkgs/htop/debian/patches

CPU/GPU temperature, frequency, Vcore are very useful.
Disk/MMC/Ethernet stats are useful, too.

Bigger part of armbian patches should be integrated with mainstream htop IMHO.

[2021-04-15 06:09] BenBE commented on #523
Scrolling through the patches the major one with stuff that looks interesting is https://github.com/armbian/build/blob/master/packages/extras-buildpkgs/htop/debian/patches/avafinger-cpu-monitor.patch

Unfortunately there are several issues (list incomplete):
 * CPU meter already implemented, including temperature/frequency)
 * Block Device IO meter might be a good addition, patches welcome
 * The

[2021-04-15 20:33] derenix opened #600 "Random crashes on Ubuntu 20.04"
`htop` is recently crashing after ~10s on my ubuntu (see below) machine, with different errors, e.g.

[code]
or

[code]

Sometimes (not reproducible) this following message is printed after the crash:
[code]
[htop.objdump.zip](https://github.com/htop-dev/htop/files/6320931/htop.objdump.zip)

Ubuntu version:
[code]

Please let me know if you need additional informations.

[2021-04-15 20:37] BenBE commented on #600
Where did you get that ancient version?

[2021-04-15 21:49] simonasmulevicius opened #601 "htop problems with hyper-threading"
Good evening,

It seems that `htop` still shows that processes are running on the virtual cores even if hyper-threading is turned off.

**With hyper-threading**

To enable Simultaneous Multithreading (SMT also known as hyper-threading) I run the following command:
`echo on > /sys/devices/system/cpu/smt/control`

I check that  hyper-threading is turned **on** by running `lscpu` and here is its outp

[2021-04-15 22:11] fasterit commented on #601
That seems correct. These processes have last been executed on processor 8 when they were last scheduled.
Does the `CPU` id update e.g. when you send a DBUS message to the dbus-daemon or just a signal to any of the other processes so they are forced to wake up?

[2021-04-15 22:43] simonasmulevicius commented on #601
Nice, that explains a lot. Previously suspended but waken-up processes don't get allocated to the previous/non-existing virtual cores - instead, only smaller set of cores is used.

[2021-04-15 22:43] #601 closed

[2021-04-16 07:00] derenix commented on #600
Thanks for pointing out the version.. I forgot that I compiled `htop 2.0.0` back in 2016 by myself..
The crash does not happens with `3.0.5` so I'll close this.

[2021-04-16 07:00] #600 closed

[2021-04-16 09:30] fundon opened #602 "Is the CPU% 4.3 right on FreeBSD?"
[code]

<img width="959" alt="Screen Shot 2021-04-16 at 17 27 56" src="https://user-images.githubusercontent.com/27926/115004269-3806e580-9ed9-11eb-9d14-15930b5366ff.png">

[2021-04-16 16:33] BenBE commented on #584
Discussing this issue in our developer meeting we decided that AIX support is currently no priority as we are seriously lacking demand for it and also are much to short on resources to handle the work necessary to maintain that platform. Thus said, while we may reconsider the inclusion once a workable patch for integration of AIX support is presented, we'll as of now not go forward on its inclusio

[2021-04-16 16:40] BenBE commented on #576
Discussing this item in the team we decided to not follow up on this feature. Arguments for this decision were both the lack of (demonstrated) usefulness that also warrants the break in the current look&feel in the UI. Changing this aspect causes a lots of code changes for far too little gain.

[2021-04-16 16:40] #576 closed

[2021-04-18 12:43] BenBE commented on #523
Due to the quality (or better lack thereof) of the downstream patch, I recently [notified the Armbian maintainers](https://github.com/armbian/build/issues/2777) about several security issues in their downstream patch series. And while the proposed patch looks like it may address the most obvious problems, there's still [quite a list of things to work on](https://github.com/armbian/build/pull/2778#

[2021-04-18 14:43] cgzones commented on #602
Could you try out the patch in #606?

Seems like all other tools on FreeBSD scale the CPU usage on the process swap time.

[2021-04-20 11:17] 80avin opened #608 "Disk usage not shown in snap installation"
**DISK R/W** column shows **NA** for many processes, for example kdenlive installed via snap.
version used 3.0.5
OS: Ubuntu 20.04. (also tested on 18.04)

Example:
![Example](https://user-images.githubusercontent.com/19588421/115387099-d788e880-a1f7-11eb-8ca5-41cf776d373c.png)

[2021-04-20 15:57] cgzones commented on #608
Seems to be a permission failure, maybe snap related.
Also all N/A entries are either processes of an other user or threads.

[2021-04-20 16:55] 80avin commented on #608
I suspect the same. Maybe using classic confinement could be the best way to avoid all such issues.

[2021-04-20 16:56] cgzones commented on #608
Probably some snap sandbox strips of the Linux capability `DAC_READ_SEARCH`.

[2021-04-20 22:45] natoscott commented on #608
@80avin @cgzones the procfs files supplying these metrics have tighter-than-most permissions - the case here may simply be that regular users cannot access other regular users IO stats...

[code]

[2021-04-21 02:52] 80avin commented on #608
Did you try `sudo htop` ? That fails in snap version too.

Btw, if it is because of restrictions imposed by snap, then using classic containerization might be better idea since it removes the restrictions imposed by snap's containerization and the program works as it was installed normally via apt

[2021-04-21 04:59] gustavklopp opened #609 "[suggestion] Add the key 'q' in the help menu bellow as another possibility to quit (in addition to "F10" )"
A lot of people seem to ask themselves how to quit Htop when F10 is not working (because F10 is linked to a command in Bash for example):

https://askubuntu.com/questions/643088/how-to-kill-htop-if-i-cant-use-f10

I suggest to modify the help menu bellow, from "F10: quit" to "F10 (or 'q'): quit".

[2021-04-21 12:05] meskilla opened #610 "CPU Temp Readout from /sys/class/thermal/thermal_zone"
Odroid Xu4 is using /sys/class/thermal/thermal_zone and has no libsensors support (sensor-detect shows no findings).

htop fork from [wbenny](https://github.com/wbenny/htop/blob/master/linux/CPUTempMeter.c) does offer the code as CPUTempMeter.c

I also like wbenny's approach to display cpu temp and cpu frequency on the right side column as a meter. The only code that is missing is support for mult

[2021-04-21 12:58] BenBE commented on #610
Thank you for suggesting this patch. In our implementation we intentionally tried to focus on libsensors instead of reading these things ourselves as otherwise we'd have to implement such fallbacks for all possible sensors; because some platform will just not provide something. That being said, I'm quite reluctant right now to include this, as it would open up the way to open the flood gates of va

[2021-04-21 17:13] BenBE commented on #609
That's already in there:
https://github.com/htop-dev/htop/blob/ace5730f89ed6c394154d7ffa4f8f4b4a11dae66/Action.c#L496

[2021-04-21 18:42] gustavklopp commented on #609
thanks.
my version is from arch linux: 3.0.5
I know that Htop can already exit with 'q' or F10 : what I mean is **informing the user about it**.
The ribbon below only shows "F10" as the exit key. A lot of people are confused about the way to exit the program since F10 is very often already used by the terminal for other function and so doesn't work.
![Zaslonska slika 2021-04-21 20-32-29](https://u

[2021-04-21 19:26] BenBE commented on #609
Press <kbd>F1</kbd>, <kbd>h</kbd> or <kbd>?</kbd> …
![image](https://user-images.githubusercontent.com/111196/115609793-48a7c900-a2e8-11eb-8a17-b4b993218376.png)

[2021-04-22 04:27] rajil opened #611 "No ZFS arc stats"
Hello,

I am using htop 3.0.5-1 release on Archlinux with ZFS 2.0.4-1
[code]
htop does not show any ARC memory stats in the UI.

[2021-04-22 04:42] gustavklopp commented on #609
I meant it's not a documentation problem.
Here's is my suggestion more or less (with basic mspaint skill...)
![Zaslonska slika 2021-04-21 20-32-29](https://user-images.githubusercontent.com/6438275/115656661-de1d7a00-a335-11eb-8e5e-f1ddfd07b5b2.png)

but other way could be good also, as long as it's shown how to exit by another way than F10 (which is often used in terminal for another command)

[2021-04-22 04:51] natoscott commented on #611
@rajil what are the contents of your /proc/spl/kstat/zfs/arcstats file?

[2021-04-22 04:53] rajil commented on #611
Here is an excerpt,

[code]

[2021-04-22 08:15] BenBE commented on #609
Basically same as #576 then …

We won't work around bugs and glitches in terminal emulators, especially as at least QTerminal has a proper setting to control <kbd>F10</kbd> behavior. That's BTW the first (and usually only) thing I reconfigure with such terminal emulators.

[2021-04-22 08:15] #609 closed

[2021-04-22 08:48] #591 closed

[2021-04-22 15:01] cgzones commented on #611
Did you actually add a ZFS Meter to the header? (`F2 -> Meters -> Available meters -> ZFS ARC (or) ZFS CARC: compressed ARC statistics`)

By default such a meter is not enabled and htop does not have (yet) any functionality to add non-default meters on systems supplying corresponding data.

[2021-04-22 15:07] rajil commented on #611
Thanks. After enabling the meter, it showed up.

[2021-04-22 15:07] #611 closed

[2021-04-22 15:09] cgzones opened #612 "Improve default meter selection on fresh start"
Currently on a htop start with no existing configuration file the following meters are added:
CPU, memory, swap, tasks, load average and uptime.

Maybe additional meters could be added in case there is actual data for those on the current system; like:
ZFS, zram, huge pages, SELinux?, systemd?, ...

[2021-04-23 01:54] rubyFeedback commented on #612
Not everyone uses systemd though.

I suppose you could reason that for those who do use systemd, this may show additional
information. I am worried about a potential fragmentation though.

Perhaps if this could be done via htop "applets", a bit like conky, where you can select what
you want to add and show more. That way people could have a "base" htop, and additional
conditional add-ons can be ad

[2021-04-23 04:59] BenBE commented on #612
That's why the original comment says "where those meters provide data".

htop already supports everything mentioned by default. It just simply disables certain meters if they don't make sense on a particular system. This issue is not about implementing some new meters, but which ones to show by default.

No need for this, as everything mentioned already exists in htop. It's just a matter of defaul

[2021-04-23 07:10] fundon commented on #602
<img width="1909" alt="Screen Shot 2021-04-23 at 14 57 26" src="https://user-images.githubusercontent.com/27926/115831534-4fe3e980-a444-11eb-86ff-25c29676dcce.png">

[2021-04-24 00:48] anitazha commented on #503
Hoping to provide some insight since I recently had to debug this issue for our containers running a statically linked binary that used nss-systemd. As I understand it, statically linked binaries do all of their thread local storage (TLS) allocations at the start of the program based on what was linked in. NSS modules are dlopen-ed so if they use TLS they do not get allocated in the statically lin

[2021-04-26 03:17] lengstrom opened #613 "`htop` crashes on open"
- Your htop version (htop --version):
[code]
- Your OS and kernel version (uname -a):
[code]
- Your distribution and release (lsb_release -a)
[code]
- Likely steps to reproduce (How did it happened?)

I installed htop from conda (`conda install -c conda-forge htop`) and ran `htop`.

- Backtrace of the issue (see below)
[code]

Object dump: https://www.dropbox.com/s/3e7kxjp9e11k8bn/htop.objdump?dl=

[2021-04-26 04:03] natoscott commented on #613
What is that?  (libfakehome.so?)  The getpwuid(3) symbol should be resolved from libc but it looks like you have a third party library replacing those parts of libc?  Whatever that library is, the crash is in there so this may not an htop problem at all.

[2021-04-26 06:10] fasterit commented on #613
Looks like this: https://bbs.archlinux.org/viewtopic.php?id=130922

[2021-04-26 07:29] natoscott commented on #613
@lengstrom does that look familiar, and are you loading that via LD_LIBRARY_PATH?  (and does the failure still occur if you run htop without that in the environment?)

[2021-04-26 07:43] jorisw opened #614 "Remove exclamation point with > 100 days uptime"
The exclamation point in the following line:

[code]

... serves no clear purpose, and causes people to spend time searching for what it means.

Better to remove it, as > 100 days uptime is no meaningful vector to warn the user about, nor is it clear _that_ it stands for > 100 days uptime.

See [discussion at Stack Overflow](https://stackoverflow.com/questions/26469294/why-does-htop-show-exclamati

[2021-04-26 11:25] fasterit commented on #614
Hi @jorisw,
we discussed your proposal in the core team and decided to keep the functionality.
The rationale is:

- Not having rebooted a system 100+ days is noteworthy
- Most people get the meaning of the (!) intuitively (we've had zero support requests for this)
- It is a historic feature
- We are generally pro-easter-eggs. These are a cultural feat for software that is made artisanal

[2021-04-26 11:25] #614 closed

[2021-04-26 15:12] sevagh commented on #526
Lately I find myself having `htop` open in one pane, and `nvidia-smi -l 1` in another, all the time, and wish I could do both (and this is the appropriate way).
Since this is marked as good-first-issue, could you give some pointers on:
* Which source code files this would most likely be implemented in

[2021-04-26 16:36] BenBE commented on #526
As this would become a new Meter for htop this would become a new `*Meter.[ch]` file in the main directory, as the interface for this would most likely be as platform independent as possible. If there are things that are to be split between different platforms you'd put a generic implementation in the eneric/` subdirectory for all platforms that can use a common implementation. E.g. reading the st

[2021-04-26 19:28] gaod commented on #602
The kern.ccpu is set to 0 in ULE scheduler.

[2021-04-26 20:04] cgzones opened #615 "Option `Show custom thread names` inconsistent"
Starting with  `Show custom thread names` disabled:
    `sd-resolve|/lib/systemd/systemd-timesyncd`
Enable `Show custom thread names`:
    `sd-resolve`
Disable `Show custom thread names`:
    `sd-resolve`

Might be fixed together with #388?

[2021-04-27 00:32] lengstrom commented on #613
Ah that makes sense, we recently switched to a new cluster management system and we're forced to override `getpwuid` to use the right home directory in some applications. Do you know if there is a better way of doing this kind of thing? When I remove the offending `so` file from `LD_PRELOAD` `htop` works again!

[2021-04-27 00:32] #613 closed

[2021-04-27 13:40] BenBE commented on #613
1. Debug the SO file to figure out why it causes this crash and fix that
2. Use PAM to override the environment properly.

[2021-04-28 08:04] mayurdahibhate commented on #569
@BenBE  I would like to work on this!
Could you please provide little help for me to get started?
Thanks!

[2021-04-28 11:01] BenBE commented on #569
There's a script `iwyu/run_iwyu.sh` that you can start. Watching its output you'd normally see things like:

[code]

if everything if okay for a file. When there's some header missing the script usually remarks this by telling the missing header as `XY.c should add these lines:`. In that case add the proposed lines sorted according to the `STYLEGUIDE` in the docs folder.

You can usually ignore th

[2021-04-28 16:20] Skirmisher commented on #104
It's unfortunate that there's no way to access zswap statistics without requiring users to have debugfs mounted and readable without root. IMO, even if swap usage is not corrected, a zswap meter (similar to the zram one) would be most immediately useful for assessing the status of system memory/swap on a zswap-enabled system. Perhaps implementing such a thing would make sense even with the extra s

[2021-04-30 05:23] aragilar opened #617 "Feature request: show username associated with subuid"
Currently for a process running in a container with a certain subuid, the subuid will be shown, rather than either the in-container username or the system username associated with the subuid. I'm not sure what the best way to extract this information for a particular process, but it would be really nice to have something like "<inner username> (<outer username>)" appear as the user.

[2021-05-02 14:01] Lin-Admin commented on #610
IMHO the idea to allow showing temperatures behind each CPU was an inappropriate improvement for the worse...

Please explain which chip models do have a temperature sensor measuring each CPU???

The exynos 5422 in Odroid XU4 does have 5 sensors attached to various zones _not_ related to any precise CPU.

I have improved the code by wbenny to read out all thermal zones a device shows in  "/sys/dev

[2021-05-02 16:11] BenBE commented on #610
Many thanks for your constructive feedback. Let's go through it, to make sure I understand your point correctly.

In what regard has this new feature worsened the user experience. Can you please elaborate and name concrete points that would improve it and how?

If finding that information in an automated way was feasible I'm sure the libsensors people would be more than happy about a pull-request

[2021-05-02 17:16] Lin-Admin commented on #610
The user is mislead to believe that all 8 CPU's do have an attached temperature sensor.

The result does not depend on the search strategy. You won't find any and libsensors people obviously did not yet care for ARM (Rasperberry Pis and Odroid).

The average user will not be prepared to tweak libsensors config.

Did you ever try to use libsensors on Rasperberry Pi or XU4???
Obviously or mileages d

[2021-05-02 23:29] smalinux commented on #526
![alt text](https://raw.githubusercontent.com/smalinux/mypcp/main/img/CPUMeter101.png "CPUMeter!")

Hi, I was thinking about these custom meters.
Why `bar_data` limited to four values only? I understand that valuably to CPUMeter represents these 4 nice colors.
But in the case of new general custom meters maybe the external sources more or less than 4 values.

Also, I think variable=value is much m

[2021-05-03 05:17] BenBE commented on #526
Usually it's not very wise to have more than 4 values displayed in one (bar) meter as space is quite limited. Also you need colors for those values which makes those meters stand out too much if too colorful. It's not a hard limit, but a general recommendation.

That's up to the protocol decision what we settle at. The above description mostly was some grough description of what could be.

Opposit

[2021-05-03 08:55] fasterit commented on #610
There is a default interface for hardware-monitoring in the kernel and that is so libsensors can abstract hardware specifics away (with some configuration help usually). See https://www.kernel.org/doc/Documentation/hwmon/sysfs-interface . It is counter-productive to implement each hardware platform that does its own in each tool that wants to show a temperature.
Samsung should do this once and not

[2021-05-03 08:55] #610 closed

[2021-05-03 15:06] noocsharp opened #618 "Include pregenerated configure file on in Github tarball"
The release tarball on Bintray used to include a pregenerated configure file. However now that that seems to be gone we have to use the Github tarball, which doesn't.

This lack of a configure file also causes the instructions for building here: https://htop.dev/downloads.html#sources to be incorrect.

[2021-05-03 21:49] joshtriplett opened #619 "`CPUs (1-4/8)` and `CPUs (5-8/8)` should expand if only 4 CPUs"
I use the same htop configuration on many systems. I really appreciate the `CPUs (1-4/8)` and `CPUs (5-8/8)` meters for large systems; thanks for adding them!

Using those on a 4-CPU system, though, places CPUs 1-2 in the first meter and 3-4 in the second, and leaves them taking up only half of each column, with the latter half of each column blank.

If possible, I'd love if these could expand CPU

[2021-05-04 16:31] hartzell opened #620 "Is bintray support gone for good?"
It appears that [the bintray tarball site](https://bintray.com/htop/source/htop) no longer exists.

Is this a transient problem or should I switch permanently to using the GitHub archive files?

**Thanks!!*

[2021-05-04 17:54] fasterit commented on #620
Bintray has been shut down by JFrog as per https://www.jfrog.com/confluence/display/BT/JFrog+Bintray+Migration+Guide
I think @natoscott was looking into migrating our tarballs to their next product.
In any case the Github tarballs seem to be the safer choice at the moment.

[2021-05-04 18:33] hartzell commented on #620
Well yes, that does sound kind of permanent.

Have you considered just attaching the tarballs to the GitHub Releases as release artifacts that people can use in preference to the automagically generated tar/zip files of the source tree?  E.g. [the way that tmux does it](https://github.com/tmux/tmux/releases)?

[2021-05-04 18:36] fasterit commented on #620
Yes, that was discussed during the last core team meeting. If you provide the github actions magic before @natoscott gets his hands dirty on the JFrog stuff, I'm sure we'd be providing the Github artifacts. Ie. PR welcome :-)

[2021-05-04 18:39] hartzell commented on #620
Sadly, I'm prohibited to contribute work to open source projects at the moments (working with the lawyers at a new job).

Whatever works most easily for you is, of course, the best thing to go with, it just seemed to me that keeping it all within one system would be easier.

Thanks for keeping `htop` available!

[2021-05-04 18:39] #620 closed

[2021-05-04 22:54] hardhub commented on #538
Why is it closed?

It is not possible to choose lm_sensors value.

I need to choose motherboard sensor, because only that one is accurate.

[2021-05-05 03:42] ip75 opened #621 "please add temperature of core to head of monitoring screen"
$subj
`sysctl -a| grep temper` or `sysctl -n dev.cpu.0.temperature` etc.

[2021-05-05 04:00] natoscott commented on #620
IIRC it was decided at that last meeting we'd not be going that, and we'd only be providing the github-auto-generated source tarball (i.e. without generated configure script, etc) from now on - so I've not been looking into any alternatives.

[2021-05-05 04:04] hartzell commented on #620
Seems perfectly reasonable.  Thanks for the update!

[2021-05-05 05:20] BenBE commented on #538
Because we're not going to implement sensor readout from sysfs directly and there's #200 will likely bring the flexibility needed to choose the sensor to use for the meters … apart from that: [read that fine manual](https://linux.die.net/man/5/sensors.conf) for libsensors if you need to re-assign things.

[2021-05-05 05:26] BenBE commented on #621
It's in the CPU meters when enabled in the setup (<kbd>F2</kbd>) under `Display Options` -> `Also show CPU temperature (requires libsensors)`. As that option says, `libsensors` has to be available and properly configured (`coretemp` or `acpitz` need to be available). You may also want to check with your distribution if `libsensors` supprot has been enabled at compile time.

[2021-05-05 06:12] ip75 commented on #621
Thank you. I don't see these options, I'll configure properly while compilation. `coretemp` already in kernel.

[2021-05-05 06:12] #621 closed

[2021-05-05 07:07] fasterit commented on #618
@natoscott commented in https://github.com/htop-dev/htop/issues/620#issuecomment-832396011 that we'll not be providing configure scripts inside tarballs anymore. So this issue should probably be sorted by fixing the build instructions to match.

[2021-05-05 08:59] ip75 commented on #621
no `libsensors` in FreeBSD. Unable to compile with `--with-sensors`

[2021-05-05 12:46] BenBE commented on #621
Ah, in that case see #419. The patch in #436 is not in any release yet. But if you could test and provide feedback that'd but great.

[2021-05-05 14:02] ip75 commented on #621
great! i'll wait for new version. Thank you very much.

[2021-05-06 04:21] noocsharp commented on #618
Is there any way for not providing configure scripts to be reconsidered? My understanding that release tarballs are supposed to include configure scripts to allow the program to be installed without worrying about autotools. It also seems trivial to generate a release tarball by just using `make dist`.

[2021-05-06 05:22] fasterit commented on #618
Do you have any rationale for having make, gcc and friends but not autotools on a platform?

We discussed that in the core team but found no real reasoning any more in 2021. Of course it was different when people were mailing around floppys or the lucky ones downloading from Simtel, but those days are gone. Typically it is just one `apt get autoconf` away.

We'd be happy to reconsider the decision

[2021-05-06 15:17] noocsharp commented on #618
make, a c compiler (tcc also builds htop just fine) and friends are the lowest common denominator. They can be found on any standard system, and don't have any dependencies. If you force the user to have autotools installed, you also force them to have perl installed. So whether intentional or not, you now need perl to build htop.

I think the question should be why _should_ autotools be required

[2021-05-06 17:35] BenBE commented on #618
I've built `htop` on systems like YoctoLinux and various other platforms where you basically first have to build your own toolchain before even getting to building things like `htop`. And by the time you could build `htop` on those platforms you already had a bunch of other tools built that essentially suffice to also build `autotools`. So even while having `autotools` as a dependency for builds m

[2021-05-06 18:35] noocsharp commented on #618
Suppose I have built a system where I've gone through the effort to avoid things like autotools and perl, even if it is purely for aesthetic reasons. If a `configure` file is included, I can compile `htop` on my system. If it isn't, then I have to write my own Makefile or something. It's as simple as that.

As I said above, autotools are designed in such a way they don't need to be installed in or

[2021-05-09 14:59] Lin-Admin commented on #610
If ever dictator _fasterit_ would show same speed in fixing bugs as he rashly closed this item, the situation of htop would be much better...

That so called **default** interface to hardware called libsensors will most probably take years before temperatures in Exynos and other Arm SoCs like BananaPi, Raspberry Pi etc. will become supported.

If the hasty decision of _fasterit_ determines future

[2021-05-09 15:05] BenBE commented on #610
Just so much: To stick with libsensors instead of implementing each and every home-brew sensor ourselves was and still is a team decision (looking through our docs on that: end of Feb 2021, but earlier discussions came to the same decision) …

[2021-05-09 19:09] BenBE opened #622 "Process CPU state not shown on MacOS"
Sorted by CPU, but it doesn't shows it correctly which process is taken CPU:
<img width="1060" alt="выява" src="https://user-images.githubusercontent.com/9673243/117583418-c3a61780-b10f-11eb-9b2f-344346c421bc.png">
I've builded rust from mac ports.
<img width="864" alt="выява" src="https://user-images.githubusercontent.com/9673243/117583447-e1737c80-b10f-11eb-8afb-f0da80c1fb18.png">

_Originally p

[2021-05-09 19:11] sharewax commented on #622
Apple M1 Silicon btw, Big Sur 11.3.1.

[2021-05-09 19:14] BenBE commented on #622
@sharewax: Can you test if the CPU state has been showing previously on some release version and if so, on which one? You can get to the various release versions quickest by cloning the git repository and checking out the various tags.

If you find an old version that worked. it'd be also really helpful if you could do a `git bisect` from there. If you need some assistance with that, feel free to

[2021-05-09 19:42] sharewax commented on #622
Checked back to 2.1.0 version (2018 year) - it doesn't show correct state. Does it have sence to check more? Probably not.
My main question was not about state, but about CPU percent - because it's shows 0.4% for firefox and 0.0 for rustc during compilcation.

[2021-05-09 21:15] BenBE commented on #622
Ah, k. In that case I misunderstood you on that part. Nonetheless, the missing state information is something that probably should be fixed. Given that it's been broken for that long strongly hints it never worked.

Regarding the (far too) low CPU usage display, that's probably still some issue with either the read-out or some conversion. Unfortunately I don't have any Apple hardware myself, thus

[2021-05-10 02:41] natoscott commented on #610
@Lin-Admin please consider your tone carefully and communicate more respectfully here in future.

I assure you @fasterit does not behave like a "dictator" on this project, nor is he "rash" or "hasty" - I've found him to be well-considered in all his posts, including in this issue.

[2021-05-10 16:44] BenBE opened #624 "Solaris: Order `GZONE` and `UZONE` after includes"
While working on IWYU updates it was found that Solaris defines some constants before including its headers. Normally those `#define`s should follow after the headers.

_Originally posted by @mayurdahibhate in https://github.com/htop-dev/htop/pull/616#discussion_r624036197_

[2021-05-12 09:58] cassioneri commented on #618
I just want to second everything @noocsharp said and also ask you to reconsider your decision.

[2021-05-13 16:21] toralf opened #625 "FATAL PROGRAM ERROR DETECTED"
happened today at a hardened Gentoo Linux
[code]
mr-fox ~ # htop --version
htop 3.0.5
mr-fox ~ # uname -a
Linux mr-fox 5.12.3 #16 SMP Thu May 13 11:24:58 CEST 2021 x86_64 AMD Ryzen 9 5950X 16-Core Processor AuthenticAMD GNU/Linux
[code]

[2021-05-13 16:24] toralf commented on #625
[htop.objdump.zip](https://github.com/htop-dev/htop/files/6473747/htop.objdump.zip)

[2021-05-13 17:12] BenBE commented on #625
This error is related to one we saw several times before in `stpcpyWithNewlineConversion` that on some rare occasions receives a `NULL` pointer as input string.

We currently are rewriting some of the code paths involved here. The fix for this might already be on the main development branch.

IIRC a fix for a similar crash should have been downstreamed to Debian, but I have to look up the details.

[2021-05-13 20:41] vi opened #626 "Feature request: sort processes by combination of multiple factors."
I want interesting processes to be sorted at the top of the list in htop, where interesting processes are those which:

* consume a lot of CPU now
* aggregated a lot of CPU seconds overall
* are main threads (not a kernel task or auxiliary threads)
* consume a lot of RAM
* rre in Running or Disk sleep states
* have a lot of disk IO now
* aggregated a lot of disk IO overall
* have a lot of child pr

[2021-05-14 13:59] BenBE commented on #626
While I generally welcome such a feature, I'm not yet convinced that the way it is done in you prototype implementation is sustainable in the long run, as it introduces code to handle one special case of such an ordering. If someone else now came along and wanted to change the priorities/weights for certain attributes this would quite quickly lead into code hell and a maintenance nightmare. Also w

[2021-05-14 21:20] simonhf commented on #510
I'm also experiencing the issue, also on Big Sur, and also installed via `brew install htop`. Also, noticed that this bug seems to have been around since mid-2018 [1].

[code]

[1] https://github.com/hishamhm/htop/issues/810

[2021-05-14 21:47] simonhf commented on #510
As a quick and dirty workaround, here's a one-liner which auto restarts `htop` every 300 seconds:

[code]

[2021-05-16 14:12] cgzones commented on #626
I could see adding a new process column sorting processes on interest.
But I think is should be rather categorized into like 4 categories (ignore, low-interest, medium-interest, high-interest) instead of a real value score.
A real value score is hard to get right for a broad group of users and the sorting would also be quite unstable.

[2021-05-16 14:35] eviatarbach opened #628 "Feature request: option to only show used memory in memory bar"
It would be great for there to be an option to only show the "used" memory in the memory bar, as opposed to also showing the cache and buffers. As a user, I only really care about the used portion, and although the others are colored differently, at a quick glance it is hard to see what portion of the memory is used because of the other colors. This seems to also be a major confusion for new users

[2021-05-18 17:46] sigkill opened #631 "M1 Mac Ram Usage Incorrect for Application Memory (System Ram, and M1 GPU Ram)"
Might not be exclusive to the M1.

htop version installed via homebrew:
 htop 3.0.5

I'm not sure of the ramifications of this, but it seems as if disabling the hardware acceleration in Google Chrome free'd up ram that was not being shown as in use by htop, but was shown in use by the Apple "Activity Monitor" program.
![image](https://user-images.githubusercontent.com/634740/118696692-696a1e00-b7c

[2021-05-18 17:48] sigkill commented on #631
Forgot to provide that I am running Big Sur 11.3 and 11.4 Beta (Both have the same issue), and have swap disabled.

[2021-05-18 19:16] cgzones commented on #631
The code in question is:
https://github.com/htop-dev/htop/blob/69cfaf238101c8d701176f734ad0371f4839972c/darwin/Platform.c#L240-L251

htop calculates the **used** memory as `active_count + wire_count` and the **cached** memory as `inactive_count`.
Probably the Activity Monitor treats part of the `inactive_count` as used memory, so its used memory is higher; cause the total amount of occupied memory

[2021-05-19 00:42] sigkill commented on #631
That evaluation makes sense, I will try and research some tidbits about what triggers the Application Memory killer, and post back what I find, if helpful.

It seems that the OS errs on the side of the "higher" value being consumed, and triggers the application termination program, even though as what you have defined above explains the issue.

I do think the memory that was not getting added to t

[2021-05-19 02:38] vishxm opened #632 "How to lower the numerical values in display options?"
I accidentally increased the update interval on the setup page under display options. And I can't seem to find a way to lower it. There is also no mention of update_interval or similar parameter in the htoprc. I can pass the desired interval with -d flag but is there a way to decrease those values? (used Enter to increase it btw)

[2021-05-19 04:13] natoscott commented on #632
The htoprc parameter you're looking for is 'delay' (see the man page option for details on how to interpret it, same as -d/--delay).

Interactively, you can use + and - to increase and decrease the update interval value.

[2021-05-19 04:13] #632 closed

[2021-05-20 08:35] fasterit commented on #618
We are still looking for compelling reasons to have the autotools output in the repo. Does anybody have an argument beyond historic preferences?

[2021-05-20 09:50] ginggs commented on #628
Closing as 'wontfix' after team discussion.  This change would hide necessary information.

[2021-05-20 09:50] #628 closed

[2021-05-20 09:54] ginggs commented on #590
Closing as 'wontfix' after team discussion.  We do not object to this feature, but nobody is working on this now.  Feel free to come up with a patch to implement this.

[2021-05-20 15:01] cgzones opened #634 "OmniOS (Solaris): first column empty"
On OmniOS the first screen column is not filled except for the last six rows.
Resizing the window keeps only filling the first column for the last six rows.
Reproducible in tty and ssh/pty.

![omnios](https://user-images.githubusercontent.com/6131885/119002136-e4326500-b98c-11eb-879b-3f139207a01d.jpg)

[2021-05-20 15:03] RussianE39 commented on #634
![htop_master_sunos](https://user-images.githubusercontent.com/400478/119002506-9cfca200-b995-11eb-8a66-d8be8d3c2b62.png)
Thats how it looks with default setup on S11.4

[2021-05-20 15:23] noocsharp commented on #618
I don't think anybody is advocating for autotools output in the repo. Just the release tarball. I agree that it's not a good idea to put autotools output in the git repo.

[2021-05-20 17:18] #634 closed

[2021-05-20 19:23] RussianE39 commented on #634
![htop_master_sunos2](https://user-images.githubusercontent.com/400478/119036857-ec54c980-b9b9-11eb-98e6-b319b40f336e.png)
This is after patch, LWPID working now

[2021-05-23 07:30] #383 closed

[2021-05-23 12:09] BenBE commented on #520
Closing after feedback from original reporter.

[2021-05-23 12:09] #520 closed

[2021-05-23 12:32] fasterit commented on #581
Seems solved according to @Miguel86's reply. Thank you very much for testing!

[2021-05-23 12:32] #581 closed

[2021-05-24 06:46] vatosarmat opened #638 "How to remap keys or enable Vim-mode?"
Is it possible to have hjkl bindings without Alt? If yes, this should be described in README.md or in man page. If no, let it be the feature request

[2021-05-24 10:50] BenBE commented on #638
Unfortunately hjkl conflicts with <kbd>k</kbd> for killing processes as well as <kbd>H</kbd> and <kbd>K</kbd> for toggling display of userland/kernel threads. While there were proposals for vim key bindings, these have not been further worked on, due to too many conflicts with proper remapping of the keys. Cf. #34, #37, #69, #106, #141 for some examples of various problems we had with this. For pr

[2021-05-24 13:05] paniash commented on #638
@vatosarmat You should take a look at [this](https://github.com/KoffeinFlummi/htop-vim) fork of htop which comes with vim-keybindings.

[2021-05-24 15:17] vatosarmat commented on #638
Why 'support request'? People do create popular forks which means this feature is desired by many. Is not it worth to have a 'feature request' issue opened for the feature desired by many? Maybe someone even could contribute

[2021-05-24 19:26] BenBE commented on #638
Accidentally misread the initial comment, missing the second part.

This being said, the wording in a feature request should bear some more details on how things are expected to work. Currently there are two possible directions this could go: full remap ability for all keys vs. have all key bindings similar to keys used in VIM (like is done in the fork).

Noted.

But as I hinted at by linking prev

[2021-05-25 00:38] Explorer09 commented on #618
How about thinking the other way: Removing autotools-generated scripts from release tarball brings no advantage other than adding a dependency hell to people who want to build htop. Why bother removing in the first place? (A release tarball is not a version controlled repo - you don't need to regenerate the scripts periodically to keep them up to date; you only regenerate them once per release.)

[2021-05-25 05:29] BenBE commented on #618
The problem is a bit the other way around really: On platforms where we can provide the configure files you usually also have a package manager providing you easy access to install autoconf. On the other hand, for situations where the pre-generated configure doesn't work (I think of cross-compiling in certain situations) you need to regenerate the configure for your needs anyways - and in that cas

[2021-05-25 05:49] Explorer09 commented on #618
On Tue, May 25, 2021 at 1:29 PM BenBE ***@***.***> wrote:

The keyword is "usually". It's not necessarily true for small,
embedded systems, where there's no package manager and the toolchain
has to be almost built manually.

What I'm expecting is that configure won't need to be regenerated
unless there are changes in the build system, or addition or removal
of source files. The cases where the pre

[2021-05-25 06:06] BenBE commented on #618
Yes, and that's where I say from my experience, that once you have such an embedded system build system, you usually also have to build autoconf for it anyway.

[2021-05-25 09:06] RomanAvdeenko opened #640 "Crash when exit"
I attach htop.objdump  file.

/usr/bin/htop:     file format elf64-littleaarch64
Disassembly of section .init:
000000000000d180 <.init>:
    d180:	a9bf7bfd 	stp	x29, x30, [sp, #-16]!
    d184:	910003fd 	mov	x29, sp
......

[htop.objdump.log](https://github.com/htop-dev/htop/files/6537966/htop.objdump.log)

[2021-05-25 10:23] BenBE commented on #640
Does `htop` produce an error output? If so, a copy of that error output might be good.
If there's no crash output from `htop` itself, could you a debugger and try to get backtrace of the crash location?

Apart from this: what distro? What kernel? Which `htop` version? Any particular settings in your configuration file or does it happen with default settings?

[2021-05-28 22:07] sigkill commented on #631
Pretty interesting explanation here: https://www.reddit.com/r/iPadPro/comments/nijycb/coming_from_the_first_gen_ipad_air_this_129_m1/gz3sln5/

"On the Mach Kernel used for macOS and iOS, Memory falls in tiers free, active, inactive, speculative, cached, wired, and deallocated (momentarily, before returned to free)

Mach offers something called Tiered Access. The Cache piece is a hold-over from the

[2021-05-30 06:52] kasperk81 opened #642 "command line option to hide main function bar"
I am using this ugly hack to run htop without the function bar on kiosk like interface:

[code]

It would be nice if we get a CLI option to hide the function bar. e.g.
[code]

[2021-05-30 09:18] BenBE commented on #642
There's a setting `hide_function_bar` for use in `htoprc` if this helps for your use case.

[2021-05-30 09:24] risentveber commented on #622
This requires to disable SIP `csrutil disable` (in recovery mode), and after rebooting just start `sudo htop` - see original https://github.com/hishamhm/htop/issues/701

[2021-05-30 09:33] kasperk81 commented on #642
Thanks, it worked like a charm.

[2021-05-30 09:33] #642 closed

[2021-05-31 10:49] risentveber opened #644 "Add dtruss support for MacOS"
According to source there is no support for it:
https://github.com/htop-dev/htop/blob/d075d49a0ccd3f311bc0f3d2b4c9f542aff1d613/TraceScreen.c#L91

Current workaround is to create kind of shim at `/usr/local/bin/strace` with appropriate execution rights `chmod +x /usr/local/bin/strace`

[code]

[2021-06-03 11:38] ltning opened #646 "Feature request: Network stats per-interface (or choose a single interface)"
First: `htop` is beautiful work. Thank you.

On a FreeBSD system with vnet jails, lagg and bridge interfaces all stacked on top of each other, network traffic gets multiplied by (in my case) 4, making the info less than terribly useful :)

If it would be possible to choose which interface to see, that would already be a big improvement. The ability to view several (like CPUs) would be spectacular.

[2021-06-03 13:07] BenBE commented on #646
This looks somewhat like an extension to #234 … Related work may be part of #200.

Also the traffic "multiplication" due to the network interface stacking is unfortunate, but probably now easily resolved.

[2021-06-05 23:45] noctumsempra commented on #526
It would be nice if the character that makes the meter could be changed from "|" to the one the use prefers. Is there ANY way to change that ugly default pipe for a better character with more body defined by us? Thanks in advance.

[2021-06-06 10:50] BenBE opened #647 "Custom character for meter (instead of "|")"
It would be nice if the character that makes the meter could be changed from "|" to the one the user prefers. Is there ANY way to change that ugly default pipe for a better visual character with more body defined by us? Thanks in advance.

_Originally posted by @noctumsempra in https://github.com/htop-dev/htop/issues/526#issuecomment-855311230_

[2021-06-06 10:52] BenBE commented on #526
@noctumsempra I split this into a separate issue (#647) as this issue here is not about UI, but backend functionality.

[2021-06-06 11:06] noctumsempra commented on #526
Thank you! And also sorry for posting in the wrong issue.

Regards.

[2021-06-06 16:41] mwahlroos opened #648 "Linux: incorrect CPU frequencies when some CPUs are offline"
The CPU frequency figures may show incorrect (or unnecessarily "N/A") values for CPU cores if some CPUs or cores have been taken logically offline.

The way I read it, the code currently sums the number of CPUs from /proc/stat, and then proceeds to read the frequencies for CPUs 0..N-1 (for N total CPUs as determined from the stat file) either from CPUfreq information in sysfs, or by parsing /proc/

[2021-06-06 20:05] badger200 commented on #618
@fasterit @BenBE I am attempting to compile htop on iOS/Darwin (jailbroken) as the current binary is 2.20.

My problem is "missing Makefile.in" and "missing config.h.in". I have never had these issues before and I've successfully compiled at least a dozen projects using GNU autotools and the ./configure scripts.

I have never seen a project use ./configure but not containing a Makefile.in and conf

[2021-06-06 21:49] BenBE commented on #618
@badger200 Just run [autogen.sh](https://github.com/htop-dev/htop/blob/master/autogen.sh) (or the one single command contained in it) to generate all those files. This will generate both `configure` from `configure.ac` and `Makefile.in` from `Makefile.am`.

[2021-06-06 21:57] BenBE commented on #648
Seeing you mention `procfs` I'll assume you're noticing this issue on Linux. Also given this code hasn't been touched since the last release AFAIR, this ain't be a very recent breakage, but something that happened to break when reading the sensor information was last touched.

[2021-06-06 22:51] mwahlroos commented on #648
Yes, this is on Linux, Fedora 34 to be precise.

And sorry I didn't remember to mention the htop version. I'm seeing this both on 3.0.5 and git master. It doesn't necessarily look like a regression to me but rather just something that might not have occurred as a possibility to whoever wrote the frequency reading code. The logic of the bug/omission seems pretty clear once you've seen it and read t

[2021-06-07 04:06] badger200 commented on #618
@BenBE I’ve isolated the issue and it’s due to the Darwin/iOS factory security enforcements, breaking “shebangs” (#!/bin/sh) triggering dmesg “Sandbox: Deny perl(1234): process-exec-interpreter”.

There are some clunky workarounds but what this boils down to is the guy a few comments above me was right when he said requiring Perl on all systems instead of aiding those better suited to standard ./c

[2021-06-08 23:01] nuno-silva commented on #534
I'm seeing an empty process list after upgrading from htop-3.0.2 to htop-3.0.5 ([ebuild](https://gitweb.gentoo.org/repo/gentoo.git/tree/sys-process/htop/htop-3.0.5.ebuild?id=d65d18def19679cae4c4b0f23abceb6c0eef7182)), using Gentoo Linux on armv7 (linux 3.4), where `/proc` is a procfs. Weirdly enough, this does **not** happen on my amd64 (linux 5.12), also procfs.

![image](https://user-images.gith

[2021-06-09 06:08] BenBE commented on #534
@Nuc1eoN Can you try the work-around mentioned by @fasterit in https://github.com/htop-dev/htop/issues/534#issuecomment-780372678? Also: If that one doesn't help, could you try to bisect asmentioned by me earlier (with and without that workaround applied)?

But given the error message of the `fstat64` this looks like some other issue to me. Could you provide a (more) complete dump of the situation

[2021-06-09 08:18] fdutheil commented on #510
Hi,
I've noticed this too, but as I'm not on MacOS (Gentoo Linux here, htop 3.0.5), I can open a new issue if we confirm the trigger is different.
On my side, I can provoke the issue right after starting htop: to reproduce it, I just use up/down arrows to move the highlighting line, and the issue shows (when I move the HL line when a refresh occurs, the sort does not occur but values are refreshed

[2021-06-09 08:36] fasterit commented on #510
@fdutheil That's not a bug, that is a feature. A few seconds after you move the cursor (highlighted bar) the sort stays stable otherwise you could not select multiple processes reliably. So this is not a bug and not what people describe here for MacOS.

[2021-06-09 12:24] cgzones commented on #534
@nuno-silva  could you give #649 a try?

[2021-06-09 20:41] nuno-silva commented on #534
I just tried applying #649 on top of master (as of 8154125d4bf):
[code]

and it seems to work. Process list appears populated. Thank you @cgzones :)

[2021-06-09 20:52] #534 closed

[2021-06-14 19:51] gavinhoward commented on #625
I also got the same sort of crash on non-hardened Gentoo.

[code]

[code]

[htop.objdump.zip](https://github.com/htop-dev/htop/files/6650852/htop.objdump.zip)

[2021-06-14 20:49] BenBE commented on #625
Please check if this still happens with the current development version

[2021-06-15 08:21] michael-o commented on #586
umm,
[code]

Works on 12 also and in a jail:
[code]

[2021-06-15 08:28] michael-o opened #658 "Add support to filter by jail name"
htop allow to filter by username, but I need to filter by jail name because I have a bunch of jails and cannot really get a decent overview over processes of a specific jail.

[2021-06-15 08:35] michael-o commented on #224
The general rule for volatile memory (RAM, cache) is to use IEC binary prefix while persistent storage (disks, SSDs, etc), always use SI decimal prefixes. So 1 GB is *always*  1 000 000 000 GB and nothing else. The BIPM forbids the abuse of SI prefixes for binary use.

[2021-06-15 08:39] BenBE commented on #658
Filtering by anything else but the process command line isn't currently implemented.

Instead of implementing filtering by each and every column on its own, a more generic approach (similar to what e.g. aptitude uses) might be an idea.

`ssh` anything containing `ssh` in the command line
`~jail:foo` anything containing `foo` for the `jail` column
`~cwd^/home ~exe:python2` Any `python2` scripts run

[2021-06-15 08:45] michael-o commented on #658
I guess that would be acceptable. I am quite used to hit `u` and select the user. The same for the jail would be just acceptable.

[2021-06-15 16:32] gavinhoward commented on #625
I'll try, but it happened randomly on a version that worked for weeks.

[2021-06-16 13:00] KILR007 opened #659 "Add Arch Linux"
htop already exists in [Arch Linux Packages](https://archlinux.org/packages/extra/x86_64/htop/), but this is not mentioned in the htop's [download's section](https://htop.dev/downloads.html)

I think it is worth explicitly mentioning it

[2021-06-17 08:04] BenBE opened #660 "NetBSD: Allow for building with X/Open Curses"
In particular getting it to build with X/Open Curses seems difficult - it is peeking into ncurses-specific structs.

_Originally posted by @alarixbsd in https://github.com/htop-dev/htop/issues/603#issuecomment-862979241_

[2021-06-17 21:39] BenBE opened #661 "Update user information on `proc->st_uid` change"
Given commit 9114cf6ea3771c55cdaaa3af8583feaf0514d956 from #649 I did a quick scan on the other platforms and things look like platforms besides Linux are still missing this check:

- [ ] Darwin
- [x] Dragonfly
- [x] FreeBSD
- [x] Linux (as of #649)
- [ ] NetBSD (cf. #603)
- [ ] OpenBSD
- [x] PCP (@natoscott)
- [ ] Solaris (broken: internally updates `proc->st_uid`, but does not refresh `proc->use

[2021-06-17 23:13] natoscott commented on #661
@BenBE no change needed for PCP platform here - this is handled in setUser in pcp/PCPProcessList.c which conditionally refreshes the username if the uid is new (since this info may be coming over the network, we sample uid and name unconditionally once-per-sample).

[2021-06-18 06:30] BenBE commented on #661
As I noticed in the PCP source the call to `PCPProcessList_updateUsername` is only performed for new processes. Or I've missed one call site …

[2021-06-18 17:11] BenBE opened #662 "GNU extension in Makefile.am"
When running `autogen.sh` I get the following warning:
[code]

The offending code is the `debug` invocation in `Makefile.am` (near the end).

[2021-06-21 11:37] polluks opened #664 "Unnecessary plus sign"
"+ htop" does not make much sense.
![htop](https://user-images.githubusercontent.com/4707573/122755614-8350c200-d295-11eb-9452-eef7fb7a8572.png)

[2021-06-21 13:00] fasterit commented on #664
Don't press the minus key on a leaf node :-)

[2021-06-22 00:27] fraggerfox opened #665 "NetBSD: Counting kernel threads correctly"
Current version of htop does not count kernel threads correctly and this needs to fixed.

_Originally posted by @alarixbsd in #603 (comment)_

[2021-06-22 00:30] fraggerfox opened #666 "NetBSD: Seperate file cache and active memory display"
As of now htop groups the file cache together with active memory used by applications. It would be more useful to show them separately.

_Originally posted by @alarixbsd in #603 (comment)_

[2021-06-22 07:32] #661 closed

[2021-06-22 21:31] polluks opened #667 "Darwin 9.8.0: Missing AT_FDCWD and AT_SYMLINK_NOFOLLOW"
[code]

[2021-06-22 22:23] BenBE opened #668 "`alloc_size` requires GCC 4.3"
As referenced in #667, you get a warning about an unknown attribute `alloc_size` when compiling `Compat.c`, because the function attributes for the allocators are only defined for GCC 4.3 and above:
https://github.com/htop-dev/htop/blob/07170aee4cb3bbe0efadd6c60c50d421583a9b6d/Macros.h#L40-L41

[2021-06-23 05:24] fasterit commented on #667
Current master/head compiles on recent Darwin/MacOS.
Darwin 9.8.0 is the version that supports MacOS 10.5.8 and that is ~5 years old, so not supported.

[2021-06-23 05:24] #667 closed

[2021-06-28 22:57] ltning commented on #646
Anything I can do to help with this (except writing code..)?

[2021-06-30 19:28] pjvandehaar opened #672 "Feature request: show open files' read/write position"
In the open files view (`l`), I want to see a column of file read positions, like the `OFFSET` column of `lsof -o -p $pid`.

Currently, htop shows `SIZE` like `lsof -s -p $pid`.  Could htop show both SIZE and OFFSET?

I'm happy to work on this if you would accept a PR.

[2021-07-01 20:49] polluks opened #673 "tsp?"
[code]

[2021-07-01 21:30] #673 closed

[2021-07-02 18:57] staadecker opened #674 "feat: Add column for working directory of process"
One feature that would be extremely useful for me is to be able to add a column with the working directory for that process. I.e. the same thing that `pwdx` outputs.

[2021-07-02 20:05] fasterit commented on #674
Already implemented in fe84840 and made cross-platform by b6ff5c8 ++.

[2021-07-02 20:05] #674 closed

[2021-07-03 08:30] BenBE commented on #674
Original PR was #345, cross platform support in #641.

[2021-07-03 16:34] toralf opened #675 "htop seems to count tmpfs into Disk IO"
I do bind-mount tmpfs here to my Gentoo images via bubblewrap [1]. It seems that it IO is counted by htop too (but shouldn't IMO)

[1] https://github.com/toralf/tinderbox/blob/master/bin/bwrap.sh#L139

[2021-07-03 20:51] BenBE commented on #675
Given there are numerous ways that fiels could be stored by a process to persist data, there's not much you can do except for special-casing each and every file system that could exist. While `tmpfs` is a quite obvious example of files just going into RAM there are examples like `afs` or `cifs` where it's not so obvious if you should call it still "Disk I/O" as targets of these file systems are ne

[2021-07-04 13:55] polluks opened #676 "Make set_escdelay optional"
Define this if your curses library has the set_escdelay() function.
`HAVE_SET_ESCDELAY`

[2021-07-04 13:58] BenBE commented on #676
Can you elaborate?

[2021-07-04 14:07] polluks commented on #676
Not every Curses has this function, therefore the Autoconf macro.

[2021-07-04 14:53] BenBE commented on #676
Any OS/platforms in particular that this applies to?

[2021-07-04 15:29] mayurdahibhate commented on #624
Also, ```MAXCMDLINE``` is present both in ```solaris/SolarisProcessList.h``` and ```solaris/SolarisProcessList.c```.

[2021-07-04 15:44] polluks commented on #676
for example https://github.com/sabotage-linux/netbsd-curses/releases/tag/v0.1.0

[2021-07-04 17:26] BenBE commented on #624
Additionally `MAXCMDLINE` seems unused in both files apart from that.

[2021-07-05 05:54] #624 closed

[2021-07-05 05:54] #676 closed

[2021-07-06 15:20] #668 closed

[2021-07-09 13:07] IEavan opened #681 "Htop crash when checking end of long line"
htop 2.2.0 aborting. Please report bug at http://hisham.hm/htop

 Please include in your report the following backtrace:
[code]

I have attached the output of otool, changing the extension to .txt to appease github.
[htop.otool.txt](https://github.com/htop-dev/htop/files/6791453/htop.otool.txt)

This crash occurred when moving the to the end of a long line with `$` and then scrolling left with the

[2021-07-09 17:48] BenBE commented on #681
Comparing the assembly with the underlying source it seems to be an issue in `Panel.c` line 287:

[code]

How well is the issue reproducible for you?

[2021-07-09 18:05] BenBE commented on #681
@IEavan As your version is quite old could you please recheck with the latest stable version (3.0.5)? I think the issue you noticed should be resolved there already.

[2021-07-11 21:04] danog opened #684 "Htop crash"
Hi,
Reporting an htop crash on an arm64 processor (roc-rk3328-cc):

[code]

Objdump: https://cock.eu.org/htop.objdump

If any additional information is needed, just ping me :)

[2021-07-12 05:49] BenBE commented on #684
Which OS? Which htop version?
What did you last do when the crash happened?
Is it reproducible?

[2021-07-12 07:32] BenBE commented on #684
Additional question: Which meters do you have in your second header column? Did you change anything there? What does your configuration look like?

Can you try to run `htop` with ASAN enabled?

Reasons for asking: Given the crash happens while trying to free the list of meters (second column) there seems to be something odd there.

[2021-07-12 08:26] danog commented on #684
OS: Armbian 21.05.6 Buster (Debian Buster), Linux 5.10.43
htop version: 2.2.0

Sorry if I forgot to add these important details the first time.
The crashes always occur when closing htop; I typically have enabled the IO_READ_RATE, IO_WRITE_RATE, IO_RATE columns; the weird thing is, after these crashes all settings seem to reset, so I don't really remember exactly where the meters were.
This is the

[2021-07-12 08:43] BenBE commented on #684
Unfortunately the Armbian release is based of a fork by @avafinger, which was severely modified. Thus it's probably best to report this issue with the [Armbian people](https://github.com/armbian/build/) or directly with [avafinger/htop](https://github.com/avafinger/htop).

Another option you might opt for is building a version directly from our development branch. Unfortunately you will need to re

[2021-07-12 09:03] danog commented on #684
I don't mind switching over to the OG htop, those meters were broken anyway :)

[2021-07-12 09:03] #684 closed

[2021-07-12 12:33] avafinger commented on #684
Just FYI, this probably was fixed on 2.2.2 which reads and writes the settings to another htoprc file.

A possible workaround is to delete all CPU/GPU/Freq meters manually, exit htop, and then add the necessary meters with F2.
I haven't looked at the 3.x version to try to contribute some code. Anyway, the modified version was meant for Linux only (embedded / sbc) and the meters are adjustable for

[2021-07-12 13:19] Harvie opened #686 "Backtrace feature similar to strace"
Hello,
currently i found it very useful to hit `S` key in the htop, to open strace window of selected thread. I absolutely love it. I've figured it currently executes following command:

`strace -T -tt -s 512 -p 1497796`

Would it also be possible to map `B` key to execute following command and show it's output?

`cd /proc/1497796/cwd; gdb -batch -ex "bt" /proc/1497796/exe 1497796`

I prints backt

[2021-07-12 13:44] BenBE commented on #686
There has been some discussion about "custom commands" for htop, which would allow you to do exactly this via some configuration. Cf. e.g. #638. IIRC there was some more discussion in other issues, but I can't find it right now. Basic idea was reserving just one key and then to present the suer with a menu of possible actions that could be configured via a configuration file.

NB: Also you may fin

[2021-07-12 14:01] IEavan commented on #681
@BenBE The issue is somewhat difficult to reproduce. I've been able to reproduce the issue a handful of times on the same machine but failed to reproduce it on a different machine (Ubuntu 20.04) with the same version of htop. The line that I am jumping to the end of is ~34000 characters long. There are occasionally some visual artifacts that appear just before the crash occurs.
I will attempt to u

[2021-07-12 14:06] BenBE commented on #681
@IEavan Can you try to compile your test version of htop with ASAN enabled? As this looks like some memory issue, this may give additional details where things go south …

[2021-07-12 14:56] Harvie commented on #686
Not sure about this, i really like that strace is quick and immediately available on S key, because i do it often. I also like the fact that i don't need to preconfigure that, because i work on many remote machines and configuring each of them would be hell.

Thanks for the tip. It only adds another line which shows that there is nothing to show under each call. What am i supposed to see there?

[2021-07-12 15:26] BenBE commented on #686
Problem is we'd be running out of keys quite fast otherwise, as there's quite a few other features of that kind people asked for.

If debug symbols and stack frames are available this dumps the full set of arguments handed to each function.

[2021-07-12 15:37] Harvie commented on #686
Perhaps it would make sense to dedicate `SHIFT+KEY` for these external utilities... So keys without shift can be still used by htop internaly. That would allow 26 tools to be implemented, which seems plenty. Just make sure CAPS LOCK is not affecting this. Or use CTRL/ALT if CAPS LOCK is a problem.

[2021-07-12 16:24] BenBE commented on #686
The idea was more like having one key which brings up a menu to select the desired tool. Could still use some key assignment in that menu based on shortcuts.

[2021-07-13 19:14] BenBE commented on #660
Still needs fixes for proper Unicode support, which is not resolved in #688.

[2021-07-14 11:42] AlarixBSD commented on #666
Can be closed now IMO

[2021-07-14 13:37] BenBE commented on #666
That link was missing, so it wasn't closed automagically …

[2021-07-14 13:37] #666 closed

[2021-07-14 15:55] Harvie opened #690 "Press F9 twice to SIGKILL"
Hello,
when i press F9 once, kill dialog is open with SIGTERM highlighted. When i press 9, it highlights SIGKILL. Then i need to press Enter to send the signal.
So to kill process it is rather tedious: F9 -> 9 -> Enter

Can you please add feature that hitting F9 twice will just send the SIGKILL?

[2021-07-14 16:48] fasterit commented on #690
That means somebody with shaky fingers would kill the highlighted process accidentally, not a risk we should take.
If you have to kill a process (-9) over terminating it, there is something broken in the software you run. Consider fixing that instead. Sigkill should be an absolute exception and not something you need efficiency gains for.

[2021-07-14 16:51] Harvie commented on #690
LOL i am software developer and there is certainly something broken, it is my job to fix it. that is why i need to kill the beast 300 times day. that is obviously why i am annoyed by having to press way too much buttons.

[2021-07-14 17:04] BenBE commented on #690
Have you considered `pkill -9 $shiTTYtool` on a programmable shortcut key of your keyboard? IIRC that's what those multimedia keys are for … ;-)

Apart from that I agree with @fasterit that there's not much additional value compared to the risk involved with this function.

[2021-07-14 17:08] Harvie commented on #690
Of course i did. Problem is that i am developing a library which is supposed to work with lots of different binaries, so name of the binary is always different.

What if pressing F9 twice would highlight SIGKILL instead of SIGTERM, but you would still need to press ENTER to confirm it?

[2021-07-14 19:19] fasterit commented on #690
Same amount of key presses as your original sequence.

[code]

... bind it to a keyboard shortcut in your desktop environment.

[2021-07-14 22:18] iceychris commented on #625
Hey, I was just greeted with a possibly-related segfault on NixOS (with `htop` running for multiple days):

[code]

[code]

Disassembly: [htop.objdump.log](https://github.com/htop-dev/htop/files/6819181/htop.objdump.log)

[2021-07-15 07:49] Harvie commented on #690
But less groping :-)

Thank for the tip with /proc/*/maps... But hey. you can do anything that htop does by carefully crafting some commands, no doubt about that. But i am already inspecting the process behaviour through htop, so it makes sense to kill it from htop. Not to mention that there can be multiple instances running.

[2021-07-15 08:55] fasterit commented on #690
Some time in the future there will be configurable external commands, see e.g. #638, #686 which you could use to run a script like the above on the selected PID.

We won't change the F9 functionality for all users as there is much downside / inconsistency for your very specific use case and request.

If you have some time, please feel free to work on a generic set of external commands and keybindi

[2021-07-15 08:55] #690 closed

[2021-07-15 12:42] polluks opened #696 "Use line-drawing w/o Unicode"
See https://unix.stackexchange.com/a/276960/277889
https://github.com/htop-dev/htop/blob/df435931b649de42f518e62b598f95df7eed04e2/CRT.c#L64

[2021-07-15 16:54] BenBE commented on #696
While the linked post is technically correct that you usually should use the line drawing characters that Curses provides, this has several downsides involved. The first one is that implementations of the fallback characters are buggy and thus do not correctly reflect what we want to express with our tree view. This lack of expressiveness is the second point to consider with these fallbacks.

But

[2021-07-17 20:59] dmitryash opened #699 "Allow memory and swap on the same line similar CPU variants"
I believe that it may be useful to put both memory and swap on the same line similar to CPUs.

[code]

[2021-07-18 14:39] UnkwUsr opened #703 "Alt-{h,j,k,l} not work in child screens (lsof, strace, etc.)"
All "broken" screens that I found:
strace (opens by pressing `s`)
lsof (opens by pressing `l`)
"command line of the selected process" (opens by pressing `w`)
"active file locks of the selected process" (opens by pressing `x`)

Note: in setup screen that binds work properly

[2021-07-21 18:49] reportaman opened #704 "Self-reference starting point: will enable showing only subtree of tmux in which htop is running"
Terminal multiplexers like tmux are powerful, and are used in conjunction with htop to track the status of all processes running under same tmux.

Following is an example screenshot from htop running in a pane of tmux:
![Screen Shot 2021-07-21 at 11 35 45 AM](https://user-images.githubusercontent.com/71736629/126542252-522790d3-80f0-496b-9102-84ef0eb50f77.png)

What is being asked?

Provide a swit

[2021-07-21 18:51] BenBE commented on #704
This seems similar to #76 …

[2021-07-21 19:02] reportaman commented on #704
@BenBE Yep on the output side, but input interface is different. Not all programs that htop can be run in (tmux, vim, nvim, etc) provide their root PID to be able to filter. So it would be good to have this input interface, and given that htop already draws trees, it could get to know its ancestor nodes at different LEVEL's.

[2021-07-21 19:14] BenBE commented on #704
You mean like some basic syntax like `SELF~2` to get the `tmux` process in the screenshot above?
Certainly doable, but still requires the overall filtering infrastructure for #76 to be implemented, after that it's a quick step to allow the user to tap into this function via the CLI.

[2021-07-21 19:17] reportaman commented on #704
@BenBE Yep, syntax doesn't matter, but you got it right :) I was typing this while you commented:

If not a new switch, this can perhaps be a new filter category. This also intersects with the feature request in comment https://github.com/htop-dev/htop/issues/76#issuecomment-746840168, where user wants to provide a PID. In this feature, the PID will be found by htop by finding its own ``ppid`` (pa

[2021-07-21 19:18] reportaman commented on #704
This will also enable running htop in a terminal window under programs like vim/neovim to be able to see what activity is going on inside those editors...

[2021-07-21 19:27] reportaman commented on #76
@BenBE Btw, something struck me regarding this. Given the top pane shows CPU activity, etc it would be nice to have a keybinding to toggle between viewing the active filter and no filter view. That would be useful if user sees unusual activity, and wants to toggle back to unfiltered view.

[2021-07-21 19:32] BenBE commented on #76
Such a key binding should probably best go into its own issue, as that's not directly part of this issue. But it has its merits.

[2021-07-23 21:22] xenoterracide opened #708 "sort by cpu% and sort by mem% aren't working as expected with my custom configured .htoprc"
I created this config using the UI, on the chance that the problem is that I have tree enabled, perhaps you could sort by parent of active child?

[code]

[code]
[code]

[2021-07-23 21:31] BenBE commented on #708
When sorting by any column in tree mode only the siblings for the current process level are considered when sorting. All the siblings with the same parent are then sorted by the selected attribute.

This can best be seen when sorting by RES with tree view enabled. A process that demonstrates this quite nicely is `chromium` as it has a lot of child processes …

[2021-07-23 21:42] xenoterracide commented on #708
right, I mean, my problem was opera which is basically chrome... is there any way this behavior could be changed so that it sorts by the parent process of the most active children first?

[2021-07-24 12:59] fasterit commented on #708
In a recent htop, press the Z key to pause tree / process updates. Press again to resume.

[2021-07-26 21:57] BenBE opened #710 "Cleanup battery state code for Linux"
The Linux platform code for reading the system battery state should receive some cleanups as it has a quite convoluted style of retrieving the information. Using the `xReadFile` API might enhance the readability of the source alot.

_Originally posted by @BenBE in https://github.com/htop-dev/htop/pull/709#discussion_r676970522_

[2021-07-26 21:59] BenBE opened #711 "Memory leak in Darwin battery code"
The Darwin code for reading the system battery state retains all suitable battery objects it can find, but only keeps track of the last one, thus introducing a memory leak on systems with more than one battery/AC connection present.

_Originally posted by @BenBE in https://github.com/htop-dev/htop/pull/709#discussion_r676970522_

[2021-07-29 12:51] xenoterracide commented on #708
Sure, but still, It would be nice to have similar behavior with three and then you could still use z to freeze the output.

[2021-07-29 13:00] BenBE commented on #708
What's probably missing is some aggregated columns that show the sum of their value including all their children. But's that a different topic.

[2021-07-29 13:08] xenoterracide commented on #708
Maybe, I'm open to other solutions this was just surprising behavior and I didn't find a good work around while still seeing The tree so it was easier to find the root. I don't know. Hopefully now you understand my pain better though. I'll leave it up to you for what to do from here including close the issue if you can't fix it.

[2021-07-31 20:09] ggPeti commented on #696
Very strange, I just noticed this on MacOS, htop 3.0.5, recently reinstalled. I've been using htop on MacOS for years with the correct box characters instead of the ASCII replacement.

[2021-08-01 22:01] #662 closed

[2021-08-02 12:38] #711 closed

[2021-08-02 18:35] JochenHWezel opened #717 "htop with Disk-I/O meters and columns w/o manual configuration steps (using command line arguments)"
## Background of feature request
Common performance bottlenecks on several systems are disk I/O.
When analyzing performance bottlenecks on the many systems, it would help a lot if disk I/O performance counters are visible without manual configuration on each system.

## Feature request

Disk I/O meters and column should be visible
* as described in https://askubuntu.com/a/1338500/1159935
* if star

[2021-08-02 19:22] BenBE commented on #717
If all systems use the same platform and compatible `htop` versions you can copy the `htoprc` from one system to another after having it configured once.

[2021-08-02 20:37] jochenwezel commented on #717
Unfortunately, copying files makes the procedure unworthy, resulting in running htop plus (apt install) iotop.

A single out-of-the-box-tool for continousely monitor the critical resources CPU+memory+disk(+network) at console is still a big need for quick and easy analysis of current performance bottlenecks.

There are many tools out there on the market, but each one for its own purpose only:
* to

[2021-08-04 22:43] carlosedp opened #719 "Different behavior in sort_direction between Mac and Linux"
On Mac, if one chooses to sort by CPU%, the `htoprc` config param is `sort_direction=1` but in Linux, sorting by CPU% makes the config `sort_direction=-1`.

This breaks having a single config between multiple machines. Is this behavior intended?

[2021-08-04 23:19] unphased opened #720 "Autogroup monitoring"
Here https://github.com/nlburgin/reallynice is an explanation for the problem related to autogroups in linux. Basically, the nice level of a process only affects that process's priority within its autogroup, and modern linux systems dole out autogroups based on session ID.

What this means is that for example when I run a build with `make -j32` on my terminal it makes not an iota of difference whe

[2021-08-05 05:36] BenBE commented on #719
Which versions of htop are you running on the respective systems? Note that due to some inconsistent sorting behaviour pre-3.0.3 there has been some cleanup which causes some columns to appear inverted compared to previous versions.

[2021-08-05 07:34] natoscott commented on #720
Quite surprising but this (CFS nice breakage) seems to be the case from a bit of reading around.

I can implement the metric extraction and display code tomorrow if noone else is super keen, and we can have a discussion about default display changes then once folks have had a chance to try it out.

[2021-08-05 09:01] BenBE commented on #720
I think we should add those two autogroup columns to new configurations when we detect them to be available.

Also IMHO we should keep the nice feature in place, but allow for the autogroup priority to be set too. Reprioritizing a whole group of processes when only one is selected may come as a surprise to the user, thus updating the group priority should be explicit (or by config to switch if nic

[2021-08-05 14:29] carlosedp commented on #719
Running version 3.0.5 on both.

[2021-08-05 14:34] fasterit commented on #720
We should also make the F7 / F8 keys able to change auto-group niceness (e.g. as Shift-F7 / Shift-F8 and "{" / "}"  (as "[" / "]" are also bound to modify niceness))

[2021-08-05 14:39] fasterit commented on #719
I cannot confirm for current master, I get
[code]
for sorting by **CPU descending** in both Linux and MacOS builds.

[2021-08-05 14:50] carlosedp commented on #719
Here I'm running MacOS Big Sur and htop is installed thru homebrew.
Linux I have Debian and Ubuntu boxes (running 3.0.5 on both) and `sort_direction` is `-1` for both.

[2021-08-05 17:39] xenoterracide opened #721 "swap and zram"
Maybe this is a question, but the output of zram and swp is confusing. I'd like to see which swap is used at a glance more than total swap, like the output of `swapon` on my system.

Also the 12k/16k isn't making much sense. I assume that has something to do with the compressed size, but I don't know why there are two numbers.

[code]

![Htop showing 16k zram used an 15.1M swap total](https://user

[2021-08-05 17:54] BenBE commented on #720
Sound good to me with those keybindings …

[2021-08-05 18:07] BenBE commented on #721
Dissecting the values that htop shows we have:

Swp: 15.1MB used from the zram swap partition. (0B normal swp + 15.1MB from zram).
ZRAM: The format is used(uncompressed)/total. I#m not fully sure if the 12K are correct in this display, but apart from this the values look sensible.

I'm not sure if splitting the values for normal swap and zram partitions in the display would be any better.

[2021-08-05 18:25] xenoterracide commented on #721
Yeah... does it help for me to give any additional data for that? I would think that it would be 15.1MB (is that MB, or MiB, not tat I care much)

It could be a configuration option.

[2021-08-05 18:45] BenBE commented on #721
The function `Meter_humanUnit` used to display those values uses binary prefixes, thus 1024 …

Could you open up a separat issue for this part and elaborate a bit more what effects the setting should have when enabled and when disabled?

[2021-08-05 19:19] xenoterracide commented on #721
You can see that `/proc/swaps` is saying that there's `21k` of swap used, and `zramctl` is saying `20k` of the original size, where swapon is for some reason saying 20.6M which simply doesn't add up. The difference in 1k is maybe some filesystem overhead?

[code]

[2021-08-08 08:53] BenBE commented on #721
Actually `/proc/swaps` is in KiB if you check the units for the 4 GiB reported … Thus it's actually ~21 MiB.
Also: Can you provide matching copy of `/proc/meminfo` (filtering entries starting with `M` and `S` suffices).

Also will need to dig into `zramctl` where it gets those 20K from or if its just a bug there …

[2021-08-08 13:24] cgzones commented on #615
This issues seems to be not fixed:
When starting with `Show custom thread names` disabled I see `/lib/systemd/systemd-timesyncd`.
Enabling at runtime does not update to `sd-resolve`, only a htop restart.

Also the patch broke highlighting for real processes, as the setting showThreadNames should only affect userland threads.

[2021-08-08 13:26] BenBE commented on #615
@cgzones Any proposed patch for this?

[2021-08-09 05:56] #720 closed

[2021-08-09 19:00] xenoterracide commented on #721
[code]

[2021-08-10 00:09] Explorer09 opened #729 "CPU Average meter shows "offline""
This happens only in the development version of htop.
`git bisect` shows that 41af31be7ffbd34518b27aad56a4f54af6a8adf3 caused the regression.
![htop-cpu-meter](https://user-images.githubusercontent.com/2487263/128789369-cd13284d-258b-486c-8b79-c513eea4c4a6.png)

[2021-08-10 00:13] natoscott opened #730 "Merge upstream htop-3.1.0 for DynamicColumns, offline CPUs, autogroups and other features"

[2021-08-10 00:13] natoscott commented on #730
Oops, wrong git repo.  :)

[2021-08-10 00:13] #730 closed

[2021-08-10 06:00] #729 closed

[2021-08-10 17:38] cgzones commented on #648
@mwahlroos has this be solved by #656?

[2021-08-10 17:40] cgzones commented on #664
Can this be closed or is there anything left to do?

[2021-08-10 17:46] #664 closed

[2021-08-10 17:55] cgzones commented on #675
Is this about the DiskIO meter in the top header or the process coulmns, like *DISK WRITE*, *DISK READ*?

[2021-08-10 18:01] cgzones commented on #681
I fear there is not much we can do about crashes in version 2.2.0, other than advice upgrading to a newer version.
Also the code-base has widely changed, so I am not sure any backtraces are helpful for current development.

[2021-08-10 18:27] toralf commented on #675
The former (meter in top header)

[2021-08-10 19:36] cgzones commented on #675
Can you share the output of `/proc/diskstats` while the tmpfs filesystems are mounted?

[2021-08-10 19:42] toralf commented on #675
`mr-fox ~ # cat /proc/diskstats
 259       0 nvme1n1 3863172 1200583 275328179 628920 53427106 1894831 3207270464 284059824 0 8403284 284688744 0 0 0 0 0 0
 259       2 nvme1n1p1 62 0 4904 14 0 0 0 0 0 28 14 0 0 0 0 0 0
 259       3 nvme1n1p2 291 0 16269 30 1 0 8 0 0 64 30 0 0 0 0 0 0
 259       4 nvme1n1p3 49362 27304 4589856 10611 563101 18148 52857320 30635580 0 92984 30646191 0 0 0 0 0 0
 259

[2021-08-11 17:31] mwahlroos commented on #648
@cgzones yes, that does resolve this. Thanks for your work on this!

[2021-08-11 17:31] #648 closed

[2021-08-12 16:55] rbanffy opened #735 "Improve large digit readability by using rounded corners"
Large digits in `Meter.c` use line drawing characters, but relies on "hard" corners originally present in IBM PC character ROMs. Most current systems, either by direct terminal support, or font support, provide rounded corners that would make the digits more readable:

![image](https://user-images.githubusercontent.com/184714/129236456-0339e465-95a6-445b-8efc-18eed9d10baf.png)

instead of

![image

[2021-08-13 04:21] Explorer09 opened #737 "Numeric option items should have increment & decrement controls"
A usability problem I recently discovered.

![htop-display-numeric-options](https://user-images.githubusercontent.com/2487263/129303748-11a9fd44-86ea-4347-80f6-0fc5c2d87901.png)

In "Setup"->"Display options", several items take numeric values instead of boolean/checkbox. However, there're no obvious hints on how to adjust the value. The users have to guess which keys would adjust the values.

Sug

[2021-08-13 22:26] BenBE commented on #672
We're always looking forward to receiving a PR for open issues. If you need any assistance or help with the source feel free to ask.

[2021-08-14 15:05] #615 closed

[2021-08-14 15:58] cgzones commented on #675
From the `/proc/diskstats` output it seems not tmpfs IO usage is counted, but all IO is counted twice; once for the root disk `nvme1n1` and then for every physical partition (`nvme1n1p1`...).

This has been tried to resolve via https://github.com/htop-dev/htop/blob/ce27f8379d143d64ab6a7787fdf38cb864e18edd/linux/Platform.c#L556-L572

but probably there is need for a generic approach instead of hard

[2021-08-14 17:57] BenBE commented on #675
Idea: Remove all trailing digits and see if you already got a match that is a prefix to the current string. If so, skip that entry:

- `loop0` -> `loop` -> No prefix yet, take it
- `nvme0n1` -> `nvme0n` -> Go on ahead and take it
- `nvme0n1p1` -> `nvme0n1p` -> `nvme0n1` is a prefix of that; we'll've seen this before in a sorted list, skip it
- `sda` -> Fine, take it
- `sda1` -> `sda` -> Already go

[2021-08-14 20:41] toralf commented on #675
FWIW:

`mr-fox ~ # btrfs filesystem show
Label: none  uuid: 59ad41c2-dedb-4097-99b2-6f404280ede4
        Total devices 2 FS bytes used 22.31GiB
        devid    1 size 128.00GiB used 30.01GiB path /dev/nvme0n1p3
        devid    2 size 128.00GiB used 30.01GiB path /dev/nvme1n1p3

Label: none  uuid: 65c018be-85e2-4066-b0e1-a9fec4bd4e83
        Total devices 2 FS bytes used 5.65TiB
        devid

[2021-08-15 05:34] ahmedaabouzied commented on #737
Hi @Explorer09 , @BenBE,

I'd like to work on this little task. It's the first time I'll be working with the `htop` source code. I think this is a good place for me to start.

As @Explorer09  suggested, we can add `| + | Increment     | - | Decrement    |` buttons  added to the function bar that only show up when the user is on a numeric value in the display options.

I see that the keys `+`, `-`

[2021-08-15 07:23] BenBE commented on #737
Hi @ahmedaabouzied,

that's correct: The <kbd>+</kbd> and <kbd>-</kbd> keys increment and decrement the value respectively. The <kbd>Enter</kbd> key is intentional, as setting all the other (non-numeric) options reacts to <kbd>Enter</kbd> just the same.

If you have any questions or need some help with the implementation feel free to ask.

[2021-08-16 06:03] #665 closed

[2021-08-16 17:50] ahmedaabouzied commented on #710
I can look into that if no one else is working on it.

[2021-08-16 18:12] BenBE commented on #710
Go ahead. The issues marked with "Good first issue" are always up for grabs. ;-) First PR, first merged :P

[2021-08-17 08:36] #699 closed

[2021-08-17 13:25] BenBE commented on #719
Could you resolve your issue in the mean time?
Are you sure both systems on MacOS/Linux are running the same htop version?

[2021-08-17 15:04] carlosedp commented on #719
Pretty sure, as seen both in the same versions and the only difference is the `sort_direction` key.
To be able to sort by CPU usage, on Mac it's "1" and on Linux it's "-1".

![image](https://user-images.githubusercontent.com/20382/129751112-3ff54aaa-0767-4707-99c8-4d813e257650.png)

[2021-08-17 15:17] fasterit commented on #719
@carlosedp: What does `lscpu | grep Endian` return on your RISC64 Linux box?

[2021-08-17 15:35] carlosedp commented on #719
Shows Little Endian. On a Linux arm64 box it's the same:

![image](https://user-images.githubusercontent.com/20382/129756252-74d922d7-9e09-4ba4-b32e-ff30949b05bd.png)

[2021-08-17 19:59] pdales opened #748 "htop very slow to start and extremely laggy (~5 second input delay) (Arch linux, threadripper 3990x)"
Not sure exactly which update but within the last 7 months, htop started being extremely laggy. When I type htop in terminal it takes a good 5-10 seconds to start. Once running each keystroke has about a 5 second input delay.

I installed htop with pacman -s htop
(currently version 3.5)

OS: Arch Linux
Kernel: x86_64 Linux 5.13.10-arch1-1
Shell: bash 5.1.8
CPU: AMD Ryzen Threadripper 3990X 64-Core

[2021-08-17 20:10] BenBE commented on #748
Can you try building `htop` with `./configure --enable-debug`. Running the resulting build in `valgrind --tool=callgrind` might provide some hints (analyze with `kcachegrind`) for where to best look to optimize things.

[2021-08-17 20:27] BenBE commented on #748
Also have a look at #471 which might be related.

[2021-08-17 20:36] pdales commented on #748
Disabling show CPU frequency fixed it (#471), thanks a lot !

[2021-08-17 20:42] #748 closed

[2021-08-20 23:10] amomchilov opened #751 "Total CPU time is broken on M1 macs"
#368 fixed the CPU percentages for M1 macs, but it didn't correctly address the calculations of CPU times.

Notice the discrepancy compared to Activity Monitor:

<img width="878" alt="Screen Shot 2021-08-20 at 7 05 42 PM" src="https://user-images.githubusercontent.com/5703449/130301426-674a5bda-aac3-4453-842a-d5c7e0691554.png">

[2021-08-21 15:35] corneliusroemer opened #753 "Time sorted lexically rather than numerically, causing 1h to sort between 5min and 15min"
When any process time adds up to more than one hour and the time is displayed as `1h:xx` and I sort downwards by time, counter to my expection the largest time does not appear at the top but below some processes that are running only 10s of minutes.

This is a bug and could be caused by lexical rather than numeric sorting.

I will provide a screenshot as soon as my computer has been running for lo

[2021-08-21 16:37] BenBE commented on #753
Do you have the tree view active? If so, the sorting is grouped by siblings of the same parent.
With the tree view disabled it shows times sorted numerically without grouping by their parent.

List without tree view:
![image](https://user-images.githubusercontent.com/111196/130328723-0f67f7f1-6a33-4fc6-9095-27ccfa126165.png)

List with tree view:
![image](https://user-images.githubusercontent.com/

[2021-08-21 16:44] corneliusroemer commented on #753
You may be right, I'll close till I can check. thanks!

[2021-08-21 16:44] #753 closed

[2021-08-21 19:48] mator opened #757 "[sparc64] limit cpu shown on active (online) cpus only?"
Hello!

After PR #656 htop shows all available CPUs , instead of active ones. How do i limit it to show it to only active CPUs?

For example, on sparc64 linux platform, under LDOM (read virtual machine), there's only particular list of CPUs available for LDOM. I.e. my LDOM has 8 active CPU (allocated for VM from hypervisor):
[code]
and there's no point to show unavailable (256-8 == 248) CPUs (whic

[2021-08-21 19:50] cgzones commented on #675
@toralf Could you please give #758 a try?

[2021-08-22 00:59] amomchilov commented on #751
Side note:

There's a bug in libproc when running under Rosetta 2 on M1 Macs, that's present in macOS 11.5.1 (build `20G80`), but fixed in 11.5.2 (build `20G95)`

 - `mach_timebase_info` returns a factor of `1/1`, just like on Intel
 - but the values of `pti_total_user` and `pti_total_system` are the same as native M1 execution, which are native mach tick units (each of which is 3/125th’s of a nan

[2021-08-22 07:04] BenBE commented on #751
Send a patch for this issue and we may consider it for inclusion …

[2021-08-22 14:22] amomchilov commented on #751
I'm just gauging interest: is it worth implementing/maintaining a workaround like this for an OS bug that may-or-may-not be fixed soon?

[2021-08-22 14:25] BenBE commented on #751
There's still code around for a MacOS kernel bug when trying to read thread information … Which affected about a few versions. So, unless the workaround is a hassle to maintain, I see no real issue in implementing it.

[2021-08-22 14:53] cgzones commented on #757
Can you please post the output of `/proc/stat` and the contents of `/sys/devices/system/cpu/cpu127/` and `/sys/devices/system/cpu/cpu127/online` (or of any other non active CPU).
Htop seems not to recognize the non-online CPUs as inactive.

[2021-08-22 16:41] amomchilov commented on #751
@BenBE Here's my stab at it https://github.com/amomchilov/htop/pull/3/files

I didn't check the OS version though, that's looked a little tricky. Is there an existing utility in htop's codebase for something like this?

I see a few sysctl values that could be relevant:

[code]

All of them would involve parsing either the hex or the sem-ver number and being able to do greater-than/less-than compar

[2021-08-22 17:25] BenBE commented on #751
I currently see only one PR by you open. The other one authored by you shipped in 3.0.4 AFAIC. The other one should be in the 3.1.0 release according to the milestones …

Cf. [here](https://github.com/htop-dev/htop/blob/f839095e3b29668d080c89f3b32fb6dccff54030/darwin/DarwinProcessList.c#L53-L68) …

The callee of this function is due to the thread info query issue I mentioned.

Looking forward to t

[2021-08-22 18:05] amomchilov commented on #751
Sorry Ben, I was unclear: This is the first PR i was referring to: https://github.com/htop-dev/htop/pull/752

This is (will be)  second one I was referring to, it's not yet opened: https://github.com/htop-dev/htop/pull/752#discussion_r693526482

I'll do some tidying and open these up and all that soon. I have some other stuff on my plate that I'm juggling.

Is there anything else blocking the merg

[2021-08-22 19:03] BenBE commented on #751
Ah, was just looking at the list of currently open PRs for this repo. NP. Looking forward to those two new PRs.

As said, maybe just open them up as draft PRs, so they already can receive some initial feedback. Depending on how the feedback round goes they might end up merged even before the current release.

Correctly. Currently waiting for fasterit who wanted to take a look tomorrow. Due to havi

[2021-08-22 21:04] mator commented on #757
[code]

[code]

[2021-08-23 08:34] BenBE opened #761 "Unnecessarily complex expression"
https://github.com/htop-dev/htop/blob/ccb756d3c702cd80443fee2215e51c13a69c0fe1/Meter.c#L320

Why not the following instead?
[code]

[2021-08-23 08:43] #761 closed

[2021-08-25 15:08] #751 closed

[2021-08-25 15:50] amomchilov opened #765 "CPU time calculations are wrong under Rosetta 2"
There's a bug in libproc when running under Rosetta 2 on M1 Macs, that's present in macOS 11.5.1 (build `20G80`), and 11.5.2 (build `20G95`), and perhaps others (I haven't checked it on the developer betas). I've reported it under [`rdar://FB9546856`](https://openradar.appspot.com/radar?id=5055988478509056)

 - `mach_timebase_info` returns a factor of `1/1`, just like on Intel
 - but the values of

[2021-08-25 15:52] amomchilov commented on #751
I sprouted the Rosetta 2 aspect of this into a new issue: #765

[2021-08-28 16:09] cgzones opened #768 "Linux: /proc/[pid]/maps performance"
While doing some profiling I noticed [reading `/proc/[pid]/maps`](https://github.com/htop-dev/htop/blob/393330239ebebb66592ded221b47897347c2abee/linux/LinuxProcessList.c#L586) takes the top spot. This file is read by default due to the enabled by default check for deleted shared libraries (#595).

I tried to optimize the stream handling
[code]

but it seems only calling the function less reduces t

[2021-08-29 20:39] birdie-github commented on #735
I see no logic in the code which detects the presence of these symbols in the console font. What will happen if they are missing? It could have been made optional I guess.

[2021-08-29 21:16] BenBE commented on #735
Currently we assume that a locale ending in `.utf8` provides all characters we need.
Cf. `CRT_utf8` at e.g. https://github.com/htop-dev/htop/blob/393330239ebebb66592ded221b47897347c2abee/CRT.c#L918-L932

[2021-08-29 21:23] BenBE commented on #768
Does reading the data in large chunks and parsing ourselves work, or is the actual collection in the kernel what causes most delays?

[2021-09-02 20:12] #675 closed

[2021-09-02 21:35] cgzones opened #774 "PCP memory leaks"
[code]

Seems the memory for fields of `PCPDynamicMetric`, allocated in `PCPDynamicMeter_lookupMetric()`, is not cleaned up.

[2021-09-03 07:47] #774 closed

[2021-09-03 10:19] BenBE opened #778 "Tidy up process state handling"
In the long term it'd be better to have a canonical set of state values (an enum), switch all the PROCESS_N_STATE macros to descriptive names (like RUN), have platform-specific code refresh the 'state' enum.  This will keep the htop core code cleaner and more platform-neutral once again.  But at this stage of a release, I think this smaller fix is best.

_Originally posted by @natoscott in https:/

[2021-09-04 12:31] cgzones commented on #64
Duplicate of #584

[2021-09-04 12:31] #64 closed

[2021-09-04 12:35] cgzones commented on #43
In most columns zero values are colored grey (if supported by the terminal).
Printing nothing might make it more difficult for users to match values in the middle of the screen to their columns.

[2021-09-04 12:39] cgzones commented on #85
I think there is currently nothing to fix here.

[2021-09-04 12:39] #85 closed

[2021-09-04 12:41] cgzones commented on #96
A combined memory and swap meter was introduced with b965417b.

[2021-09-04 12:42] #142 closed

[2021-09-04 12:47] cgzones commented on #194
Currently vector sorting seems not be be a bottleneck.

[2021-09-04 12:47] #194 closed

[2021-09-04 12:50] cgzones commented on #419
Implemented by ee97916fd530c82b8747bd90b7d1b98e92f858ae.

[2021-09-04 12:50] #419 closed

[2021-09-04 12:54] cgzones commented on #568
I am not sure this is feasible, e.g. `close(2)`, standardized by POSIX, is declared in `<unistd.h>`.

[2021-09-04 12:58] cgzones commented on #586
FreeBSD does read os-release information via

https://github.com/htop-dev/htop/blob/0925c54caadbdf55c34a06590c62dfa1cfa68a93/freebsd/Platform.h#L73-L75 and https://github.com/htop-dev/htop/blob/0925c54caadbdf55c34a06590c62dfa1cfa68a93/generic/uname.c#L84

[2021-09-04 12:58] #586 closed

[2021-09-04 13:01] #640 closed

[2021-09-04 13:13] BenBE commented on #568
Issue arises on Platforms like Windows where the appropriate function mostly depends on the situation (usually `CloseHandle`, but may differ based on resource). So absolutely not a high priority to fix this right now, but rather something to keep in mind.

[2021-09-04 17:03] birdie-github commented on #43
I've been using `top` this way for years now and I've had zero troubles reading the information on the screen.  Please implement.

[2021-09-10 13:00] eworm-de opened #783 "alignment with combined memory and swap meter"
Depending on the terminal width the "Combined Memory & Swap" meter breaks alignment.
![Screenshot_2021-09-10_14-57-16](https://user-images.githubusercontent.com/970853/132857047-43de4ad0-7352-409f-a7e2-2007b2040c6c.png)

[2021-09-10 13:24] eworm-de opened #784 "empty column right of meters"
There's an empty and unused column right of meters, even if borders are disabled.
![Screenshot_2021-09-10_15-20-12](https://user-images.githubusercontent.com/970853/132860199-9cddbba8-1561-40eb-b248-ee1780a3435b.png)
Is that expected? Can we change that?

[2021-09-10 13:48] eworm-de opened #785 "wrong selection for header layout"
Let's assume the configuration has set header layout to `2 columns - 33/67` - just to demonstrate it does not fall back to the default. Then...

- Start `htop`
- enter `Setup` -> `Header layout`
- select `2 columns - 67/33`
- enter `Meters`
- enter `Header layout`

Now  `2 columns - 33/67` is selected (that's what we had at start), though `2 columns - 67/33` is active.

[2021-09-10 15:09] #783 closed

[2021-09-10 22:06] #785 closed

[2021-09-10 22:15] BenBE opened #792 "Valgrind findings in libsensors"
[code]

This looks like we should also ignore all conditional jumps depending on uninitialized data inside `fun:sensors_init` and inside `obj:*libsensors*` …

Edit: Updated by stacktrace with full debug symbols for `libsensors5` (`dpkg -s libsensors5` says `Version: 1:3.6.0-2ubuntu1`).

[2021-09-11 21:09] Herz3h commented on #748
I notice it is slow aswell with verison 3 of htop, version 2.0.2 is fine.

Specs:

dual cpu 20core/40 threads 2.4Ghz total.

Number of open files: 800000
Number of processes running: 1600

CPU Frequency is disabled, refresh interval is 1.5 sec, and it freezes when using arrow keys, refresh is kinda slow. Unfortunately I cannot install htop 2.0.2 on debian 11.

Compiling with `./configure --enable-

[2021-09-12 10:09] cgzones commented on #748
@Herz3h Please run htop under the valgrind tool callgrind:

Best to use on a htop version with debug information (compiled with `-g`).
[code]

and share either the raw callgrind output `callgrind.out.<PID>` or the annotated output of `callgrind_annotate`.

[2021-09-12 10:21] Herz3h commented on #748
How do I compile with `-g` ?

[2021-09-12 10:41] Herz3h commented on #748
[callgrind.out.4084391.txt](https://github.com/htop-dev/htop/files/7149439/callgrind.out.4084391.txt)

[2021-09-12 14:59] cgzones commented on #768
The kernel [documentation](https://www.kernel.org/doc/html/latest/filesystems/proc.html) mentions

But trying to `read(2)` the file in one go does not work:

[code]

results in

[code]

There might be even a bigger problem:
Linux v3.4 added https://github.com/torvalds/linux/commit/b76437579d1344b612cf1851ae610c636cec7db0
causing a quadratic complexity (https://www.suse.com/support/kb/doc/?id=00001

[2021-09-12 15:05] cgzones commented on #748
autoconf sets CFLAGS by default to `-g -O2`; so a simple `./configure` is fine (the comment was for the case you using custom CFLAGS).

[code]

The function `fast_strtoull_hex` is probably only up high, as it gets called often and optimization were off.
The *real* cause is `LinuxProcessList_readMaps`, see #768.
You might want to disable the process column `M_LRS` (title: `LIB`) to avoid those expe

[2021-09-12 16:01] BenBE commented on #748
ACK. `fast_strtoull_hex` was initially introduced to optimize the call of `strtoull` that would be there otherwise (which was even slower). The problem here really is that there are literally millions of calls to that function due to many lines in the `/proc/<PID>/maps` files needing parsing.

@cgzones Doing some experimentation it seems there's a ~60% increase regarding the time spent in `LinuxPr

[2021-09-12 16:27] BenBE commented on #768
When allocating a read buffer anyways you can ignore `fgets` entirely, calling `read` on the proper fd yourself and emulate what `fgets` is doing using `strchr(ptr, '\n')`. Advantage here being that suffix check I mentioned over in #748 could skip `strnlen(buffer)` and thus becoming constant time.

[2021-09-12 23:50] Explorer09 opened #796 ""Memory & Swap" meter in Text style spans whole terminal width"
The "Memory & Swap" meter in Text style spans the whole terminal width.

This happens in the current master branch. Only Text style is affected; Bar, Graph and LED styles are all fine.

Screenshot:
![htop-memory-and-swap-meter](https://user-images.githubusercontent.com/2487263/133006578-a46aa5ad-60b0-4a4d-8758-b146356134d8.png)

[2021-09-13 07:24] BenBE commented on #796
Is this the only meter in that row? Does this happen if there's another meter right next to it?

[2021-09-13 09:50] Explorer09 commented on #796
@BenBE I tested it just now. If I place a meter on the right of the Memory & Swap meter, The Memory & Swap meter reduces its display width of the Text style. So you won't see the bug if you place a meter right next to the Memory & Swap meter,

[2021-09-13 19:04] cgzones commented on #796
It's a feature, see #484.

The MemorySwap meter is a bit special cause it is not strictly left-aligned, but aligns itself on the given width.
We could exempt this special one though.

[code]

[2021-09-14 00:43] Explorer09 commented on #796
@cgzones The implementation is not consistent.
1. Why only MemorySwapMeter has this behavior and not other meters that split itself to multiple sub-columns (such as the multiple CPU meters)?
2. The LED_METERMODE should demonstrate the same spanning behavior. Otherwise it's better not have the "feature" at all.

[2021-09-15 12:47] birdie-github commented on #735
This is a bold assumption, let's hope it's always correct. :-)

[2021-09-17 07:50] natoscott commented on #796
@cgzones @Explorer09 this issue appears to be a little stalled.  At this point it seems to me its not likely to be a trivial fix, nor sufficiently high priority for us to continue to wait on a resolution for htop-3.1.0.  If you disagree let me know, otherwise I'll continue on with the release early next week, and work on this issue can proceed for merging thereafter.  Thanks!

[2021-09-17 12:35] fasterit commented on #796
@natoscott DLange agrees with your analysis, suggests to apply the patch from https://github.com/htop-dev/htop/issues/796#issuecomment-918489632 as an interim improvement though.

[2021-09-18 11:07] cgzones commented on #792
I am not sure this is worth suppressing: One the one hand I am unable to reproduce it on Debian and on the other hand it seems to be a real issue in libsensors (not htop). All the current suppressions are about memory leaks of fixed size in ncurses, so they are quite harmless.

[2021-09-18 12:01] BenBE commented on #792
I'm okay with a won't fix for now. Just wanted to raise this FYI. Might also be just some Ubuntu issue with libsensors. What version do you have? Maybe they fixed it?

[2021-09-18 12:01] #792 closed

[2021-09-18 13:44] cgzones commented on #792
I tested with `1:3.5.0-3` and `1:3.6.0-7`. Maybe it is about the valgrind version (`3.15.0` vs `3.17.0`)? Also it might not show up in virtual machines as the hypervisor might not expose the related sensors.

[2021-09-18 13:48] BenBE commented on #792
Running on bare metal here, no VM.

[2021-09-20 14:54] jkemp814 opened #800 "Need space after: Load - Swap - CPU in Bar view"
![image](https://user-images.githubusercontent.com/12059343/134024036-cc21708c-1000-4c00-b79a-f62341bddf45.png)

When displaying meters in bar view there is no space, so Load for example is cut off and bracket is right up against meter name.

Load average looks like: Loa[
Swap [Bar] looks like: Swp[
CPU [Bar] looks like: Avg[

There may be others.

[2021-09-20 15:03] BenBE commented on #800
The caption with bar meters is always just 3 characters wide. So the only unfortunate part here is that the caption in bar mode isn't properly shortened in the internal information and thus the display is somewhat truncated …

[2021-09-20 15:05] jkemp814 commented on #800
Thank you for the prompt response. Maybe 'Load' could be changed to display 'Sys ['

[2021-09-20 15:06] jkemp814 commented on #800
Even the space would probably count as a character?

[2021-09-20 15:37] jkemp814 opened #801 "Enhancement: Need CPU Average for each CPU"
It would be good to have an Average of each CPU, plus the overall average of all CPU'S.

i.e. CPU 0, CPU 1 and so forth.

[2021-09-20 16:47] BenBE commented on #801
Open the setup with <kbd>F2</kbd> navigate to Meters and you should find all the Meters you desire … There are both variants with multiple cores per meter (in up to 8 smaller columns in one meter) or each and every CPU individually.

[2021-09-20 16:57] jkemp814 opened #802 "Filter the current workbrench"
Is there a way to make the Filter (F4) filter out by command? Currently, it only filters by name typed into the search box.

For example. When I sort by command, it shows Google Chrome is using the package 'cat' to read or write to files. Microsoft Edge does the same thing, but not Chromium. (you could do a lot of gathering using that 'cat' package) Especially since the browser is running as the c

[2021-09-20 18:56] jkemp814 commented on #801
![image](https://user-images.githubusercontent.com/12059343/134057974-eb8232fe-097e-45cb-b666-2263b72873a7.png)

I have been working in the setup (F2). When I list all 24 with (12 are really hyperthreads), in htop it shows N/A for the temp next to the threads. There is no temp listed for them. In bashtop it shows a temp but in purple instead of blue like the real cores.

![image](https://user-imag

[2021-09-20 19:27] jkemp814 commented on #801
My main question was can another 'CPUs (1/1)' be added that would read an average of each CPU cores. Not just the system average? i.e. Average CPU 0 cores, Average CPU 1 cores.

CPU (1/1) first CPU, CPU (2/2) second CPU, without adding both to the same meter. (this is for the average of all cores in that CPU I'm referring to)

The layout I have as you can see above, if I add CPU's (1/1) again in t

[2021-09-20 19:34] BenBE commented on #801
htop currently does not split the CPU groups into per-physical CPU groups and thus there also are no accumulated per-physical-CPU meters. This effect can somehow also be seen in the temperature display on the per-thread meters, as normally the N/A values are filled in for certain (single-CPU) constellations.

[2021-09-20 19:42] jkemp814 commented on #801
Oh, I see. Check out bashTOP. I think that package is just duplicating the TEMP for the hyperthread, but it changed the color so to indicate it's not really a core, but a duplicate TEMP for that hyperthread. Makes the list 'look' consistent. When you think about it, it is the real TEMP of the core, being the thread is a part of that core.

[2021-09-20 20:02] jkemp814 commented on #801
I meant to add, every CPU core in the left column is CPU 0, every core listed in the right column is CPU 1. So the TEMP stats would be the same for: core 0 is the same temp as core 6 and so forth.

The data and stats are there. htop would have to be written to read the stats from the sensors for each CPU.  (which it currently is but not the hyperthreads). That's the reason the top half has TEMP re

[2021-09-21 06:26] fasterit commented on #796
Forwarded to 3.1.1 in case somebody wants to look at the LED Meter mode for col spanning as per https://github.com/htop-dev/htop/issues/796#issuecomment-918699336

[2021-09-21 19:39] Roguelazer opened #803 "3.1.0 fails to build: No rule to make target `.deps/htop.Po`"
Version 3.1.0 fails to build with the following output:

[code]

This is from just downloading the release tarball, running `./autogen.sh`, running `./configure` and running `make`.

I notice that the file `.deps/$(myhtopplatprogram).Po` does exist, and running `mv .deps/$(myhtopplatprogram).Po .deps/htop.Po` after `./configure` fixes the error, so maybe there's some issue where a variable isn't b

[2021-09-21 19:50] Roguelazer opened #804 "htop 3.1.0 bumps required glibc and libcap versions without updating documentation"
htop 3.1.0 removes the workaround from 8149823d56653b7d23397a235edb609b358ff17d, so it now requires glibc 2.14 to build for the `O_PATH` definition. This is easy enough to fix by re-applying that patch (or by noting a glibc 2.14 minimum requirement in the README, I suppose).

It also requires the defined constant `CAP_IS_SUPPORTED` which requires `libcap` 2.21 or later. This is also not documented

[2021-09-21 21:58] HanabishiRecca opened #805 "[3.1.0] Mouse Wheel Up doesn't work in the process list"
With 3.1.0 update Mouse Wheel Up doesn't work in the process list. Wheel Down works. Also it works as intended in the other menus.

[2021-09-21 22:07] BenBE commented on #805
On which OS? Any previous version where it worked (bisect?)?

[2021-09-21 22:30] HanabishiRecca commented on #805
**ArchLinux x86-64** with htop package from official repo. Also this reproduces regardless of the terminal emulator app.

Built from the source:
Ver | State
--- | ---
3.1.0 | bug
3.1.0rc2 | bug
3.1.0rc1 | bug
3.0.5 | ok

[2021-09-21 22:51] BenBE commented on #805
[code]

Can you follow on from there to narrow it down a bit more? TIA.

[2021-09-21 22:53] HanabishiRecca commented on #805
Yes, already doing it right now.

[2021-09-21 23:07] HanabishiRecca commented on #805
@BenBE here is problematic commit: eb4ff3c69cf2b0c78d5158728fe0cc0245f2d080

[2021-09-21 23:08] BenBE commented on #805
k, if I found correctly, it looks like:

[code]

This being my bisect log …

[code]

[2021-09-21 23:08] BenBE commented on #805
Okay, looks like I can reproduce it locally too and we're talking about the same issue … Will have to look into it later today.

[2021-09-21 23:17] HanabishiRecca commented on #805
Enabled `AUTOGROUP_NICE` column. And yeah, Wheel Up works as `Shift-F8` key for some reason.

[2021-09-22 02:33] Derppening opened #806 "3.1.0 CPU Temperature Display Regression"
After upgrading from htop 3.0.5 to 3.1.0, htop displays temperatures for only 3 cores, and marks the temperature of other cores as `N/A`. When cross-referencing with the output from `sensors`, it appears that htop may have been treating `Tdie`, `Tccd1` and `Tccd2` as three cores.

For reference, the following screenshot is taken using `htop 3.1.0` on a Ryzen 9 5900X system.

![image](https://user-

[2021-09-22 12:55] fasterit commented on #806
Could you provide the output of `cat /proc/cpuinfo` and `sensors -u` please?
We can't reproduce this on the Zen2 systems some of us have (you have Zen3).

[2021-09-22 23:30] natoscott commented on #803
This seems to be a bug in automake.  I've reproduced it on a machine with version 1.15.1 (this machine last updated ~3years ago) - it's fixed with more modern versions.

I'll see if I can tweak our Makefile.am contents in such a way that it works on these older versions too.

[2021-09-23 01:10] Derppening commented on #806
[cpuinfo.txt](https://github.com/htop-dev/htop/files/7214596/cpuinfo.txt)
[sensors.txt](https://github.com/htop-dev/htop/files/7214597/sensors.txt)

Right, I forgot to mention that I was unable to reproduce the issue with my Zen 2 Renoir APU as well. :^)

[2021-09-23 07:53] rubyFeedback opened #811 "Release tarball for 3.1.0"
I just downloaded the .tar.gz file.

URL was:

https://github.com/htop-dev/htop/archive/refs/tags/3.1.0.tar.gz

However had I can not compile it:

"./configure"

Leads to:

    configure: error: cannot find required auxiliary files: config.guess config.sub

This has been different for past releases. Has something changed? Perhaps if GNU configure makes
problems we could switch to meson or cmake in

[2021-09-23 09:55] BenBE commented on #811
Please note the instructions about building from source:
https://github.com/htop-dev/htop#compile-from-source

In particular you need to run `./autogen.sh` before `./configure`.

Which version of `autotools`/`autoconf`/`automake` are you using?

[2021-09-23 15:19] fabianofurtado opened #812 "Possible bug? The memory bar isn't displaying the amount of used memory correctly, compared to "free -m"."
Hi... I'm using Arch Linux with HTOP version 3.1.0. The memory bar isn't displaying the amount of used memory correctly, compared to "free -m".

HTOP 3.1.0: 452 Mega
free -m: 153 Mega
                 total        used        free      shared  buff/cache   available
   Mem:           15709         153       15305          18         250       15258

Is this a possible bug? What am I doing wrong?

[2021-09-23 15:54] fasterit commented on #806
@Derppening thank you!

If you look at your own `sensors.txt` it seems your system has no temp info on the processor cores themselves.
Can you try to fix that and see whether it fixes htop's display along as well?

[2021-09-23 15:58] Derppening commented on #806
I am not sure what you mean. I thought this section is the temperature of the processor cores:

[code]

Does htop not use the `k10temp` module for CPU temperature on Ryzen systems, but instead rely on the motherboard-specific temperature information (`nct6798` on my ASUS system)?

[2021-09-23 16:10] #804 closed

[2021-09-23 16:20] fasterit commented on #806
You have one temp per chiplet (Tccd1/2), one temp for the die (Tdie) and one I can't guess off the top of my head (Tctl). Makes four.

You have 12 CPU cores (24 with hyperthreading), so htop would like to see 12 or 24 temperatures (plus one for the die average but that's optional). And `sensors` would need to have to show this. No idea how, we have no Zen3 system around. May be @cgzones has access

[2021-09-23 16:27] fasterit commented on #812
Could you please provide a combined screenshot of `free -h` and `htop` 3.1.0 similar to the one in https://github.com/htop-dev/htop/pull/452 ? (this PR may be related but there have been other changes on the memory meters, too between 3.0.5 and 3.1.0).

[2021-09-23 21:34] fabianofurtado commented on #812
Yes...
![screenshot](https://user-images.githubusercontent.com/1511744/134587198-fa0b420c-4ba1-4c79-ba13-fe4668fb2c3a.jpg)

[2021-09-23 21:36] fabianofurtado commented on #812
Sorry... I've uploaded the wrong image.

[2021-09-23 21:46] fabianofurtado commented on #812
Now it makes sense! Thank you and sorry to bother you. My bad!
![screenshot2](https://user-images.githubusercontent.com/1511744/134588391-a7ea47f2-f27e-48f4-bbc4-76d06ece16dd.jpg)

[2021-09-24 02:00] #805 closed

[2021-09-24 02:00] #803 closed

[2021-09-24 02:02] Derppening commented on #806
My understanding is that `Tdie` and `Tctrl` are only useful for older Zen processors where an offset needs to be applied to the temperature to allow for a more optimal fan curve  (See [here](https://www.reddit.com/r/Amd/comments/9drxgs/comment/e5jmclc)). It is not used for Zen 3 processors.

It would be nice if there is a way to determine the topology and assign each of `Tccd1` and `Tccd2` to the

[2021-09-24 18:38] #812 closed

[2021-09-24 19:00] cgzones opened #817 "Collection of Linux CPU issues"
- #806
- #801
- #757

[2021-09-27 03:03] BenjaminChoou opened #818 "Does anyone know how to scroll down the whole terminal screen for a server like 128 cores?"
![image](https://user-images.githubusercontent.com/19500127/134839295-282a21e8-5949-4790-9d63-3cc4412db28a.png)

As you can see in the above screenshot, the CPU usage part basically takes the whole screen with no space for the proccess part. Is there any method to scroll down this screen or show 8 CPUs per line? This case can be worse if there are 256 cores, which is usually the case for a high-pe

[2021-09-27 05:43] BenBE commented on #818
Which version of htop are you using? Judging by the screenshot that's a really old version and thus several of the improvements in recent releases to improve the header for systems with that many cores are missing.

Please recheck with the latest (3.1.x) release and possibly reset your configuration by removing `.config/htop/htoprc` to re-initialize the header area automagically.

[2021-09-27 07:13] BenjaminChoou commented on #818
htop 2.2.0 - (C) 2004-2019 Hisham Muhammad
Released under the GNU GPL.

[2021-09-27 07:20] BenjaminChoou commented on #818
Thanks. I fixed it after updating it to 3.1.0.

[2021-09-27 08:12] #818 closed

[2021-09-27 08:36] snikitov opened #819 "Can't make htop-3.1.0"
After `./autogen.sh` and `./cofigure`, make command results with error:
[code]

[2021-09-27 08:38] BenBE commented on #819
Have a look at #803 and #810. HTH.

[2021-09-28 07:32] #819 closed

[2021-09-28 13:39] wooque opened #821 "htop 3.1.0 shows more used memory than htop 3.0.5"
`htop 3.0.5` Mem: **789M**/14.5G
`htop 3.1.0` Mem: **1.04G**/14.5G

`free -h` shows:
[code]

[2021-09-28 16:38] wooque commented on #821
Seems it's always 250-300MB, now it's
`htop 3.0.5` Mem: **3.74G**/14.5G
`htop 3.1.0` Mem: **4.03G**/14.5G

`free -h` shows:
[code]

[2021-09-29 21:10] BenBE opened #822 "Implement text input control for settings"
For allowing the proposed feature in #637 to be user-configurable there needs to be some UI for the user to input some text, edit the existing value and possibly have the UI provide some validity feedback.

The new text input should extend the list of normal settings controls we already have for checkbox items and numbers by a new text input method. That text input method should allow for some bas

[2021-09-29 21:17] BenBE commented on #765
Has this been resolved with the linked PR or is there anything still open with this issue?

[2021-09-29 21:21] #681 closed

[2021-09-29 21:23] #625 closed

[2021-09-29 22:14] marcluque commented on #778
Hey there, I would like to work on this. But I'm not quite sure I correctly understand the requirement of this issue. Could you elaborate a little and explain what exactly is meant by

I suppose that there should be some enum that contains [this](https://github.com/htop-dev/htop/blob/d23627fda9878f0a8640c24d95145d56882ba503/Process.h#L206). A variable of this enum should then be updated? I assume

[2021-09-29 22:24] BenBE commented on #778
As it is now the code manages the process state as a single character that only by convention has `R` as running, `D` as defunct and so on. What would be good would be if the available states (in the comment you linked) would be reflected as identifiers of a `typedef enum ProcessState_ { … } ProcessState` that that had those states as fixed identifiers for all platforms to use.

Exactly. Basically

[2021-09-29 22:40] marcluque commented on #778
Thank you very much for the indication/explanation. I will look into it.

[2021-09-30 00:33] natoscott commented on #821
@wooque could you paste the contents of your /proc/meminfo file here please?  Also if your free(1) binary is from procps or procps-ng, which version of that package you're using?  Thanks.

[2021-09-30 08:18] wooque commented on #821
[code]

[2021-09-30 08:18] wooque commented on #821
`free` is from `procps-ng 3.3.17`

[2021-09-30 15:27] mhmdanas opened #824 "When htop is run in tmux, some numbers are not shown"
I realize that this is unclear, so here's a screenshot with htop running outside of tmux:

![no-tmux](https://user-images.githubusercontent.com/32234660/135481814-ad722c16-892d-4b29-ba25-8b93e78bbd63.png)

And here's one with htop running in tmux:
![tmux](https://user-images.githubusercontent.com/32234660/135482145-865d5d61-6fe9-4883-885a-e19ed0f30d2c.png)

The screenshots were made on a machine r

[2021-09-30 15:41] asafkahlon commented on #821
I don't know if it helps you, but out of curiosity I tried to run a `git bisect` on this issue and I found that commit 3d497a3760626d398fffc8f4594e8b9658f67d55 seems to be the cause of this bug.

[2021-09-30 17:41] mhmdanas commented on #824
I tested this on macOS and the bug does also seem to be present there, but I also found something interesting:
![macos-htop-bug-2](https://user-images.githubusercontent.com/32234660/135504009-093cac56-ccee-4848-99e6-c668999d965c.png)

![macos-htop-bug](https://user-images.githubusercontent.com/32234660/135504002-46047dd1-057d-4507-ad7f-65e3b6bc58fc.png)

So the info is actually there, but the text

[2021-09-30 20:28] BenBE commented on #824
This seems to affect all the shadowed (dark grey) text.

[2021-09-30 23:05] Tryfos opened #825 "No mouse scroll-up in 3.1.0"
Htop 3.1.0 in both my Arch-based instances (Manjaro and EOS): Mouse scroll-up does not work. Scroll-down is ok.
Htop 3.0.5. in Debian 11 testing, POPos and Kubuntu: Mouse scroll works fine both ways.

[2021-10-01 01:21] wooque commented on #821
I was debugging a bit thanks to @asafkahlon pointer and the line that changes this behavior is https://github.com/htop-dev/htop/blob/main/MemoryMeter.c#L39, basically instead of printing used memory (values[0]) like before, it's printing total - available (values[4]). Why they differ and what is more correct?

[2021-10-01 05:42] BenBE commented on #825
Fixed by #807

[2021-10-01 05:42] #825 closed

[2021-10-01 07:26] jnooree opened #826 "[BUG] Cannot scroll up with mouse (3.1.0)"
Cannot scroll **up** with mouse (can scroll down) after updating to htop 3.1.0.
Compiled with `ncurses 6.2` on x86_64-linux (both Ubuntu 20.04 and 16.04 had this bug).

[2021-10-01 07:39] #826 closed

[2021-10-01 07:40] BenBE commented on #826
Fixed in #807.

[2021-10-01 07:41] jnooree commented on #826
Oops, thank you for information!

[2021-10-01 07:50] #811 closed

[2021-10-01 16:14] amomchilov commented on #765
It's resolved, but I don't have permission to add #751 as a "linked pull request" to this issue.

Could you please do that, and close?

[2021-10-01 16:27] #765 closed

[2021-10-01 16:33] #569 closed

[2021-10-03 15:13] anindyasen commented on #710
I am running the latest htop in a ubuntu system, but not seeing the battery information in htop. I have attached the screenshot for it. Can anybody confirm that it working fine for linux platform with the latest code. I already done the below:
1. Ran in a fedora VM, it was not working
2. Ran in a ubuntu system, still not working.
Also, please give me some pointers if possible so that I can figure

[2021-10-03 17:16] BenBE commented on #710
This screenshot does not look like you added the Battery meter in the setup screen …

[2021-10-03 18:42] marcluque commented on #778
Hi @BenBE,
I'm basically good to go, but I'm missing some information to rename a few process states. Especially [this](https://github.com/htop-dev/htop/blob/f75a8bc3a1131151181d6794000b10063400221e/dragonflybsd/DragonFlyBSDProcessList.c#L576) and [this](https://github.com/htop-dev/htop/blob/f75a8bc3a1131151181d6794000b10063400221e/dragonflybsd/DragonFlyBSDProcessList.c#L567) state confuse me and

[2021-10-03 19:10] BenBE commented on #778
For `'A'` I'm unsure myself, as I'm not too familiar with the overall *BSD stuff. Looking around, `'A'` seems to be a fall-through case for an invalid kernel state (cf. [here](https://github.com/DragonFlyBSD/DragonFlyBSD/blob/c163a4d7ee9c6857ee4e04a3a2cbb50c3de29da1/sys/sys/proc_common.h)).

For `'Q'` I guess this can be understood as "queued for running" vs `'R'` for "actually running right now".

[2021-10-05 00:45] natoscott commented on #778
The states we observe from PCP reflect the states of the underlying platform.  IOW, there are no new process states for PCP, just all the existing ones and these state values will be the same you would see from each of the existing htop platforms.  That particular line of PCPProcessList.c line of code takes a single-character string (e.g. "S", "R", "I", etc - all exactly as supplied by the kernel)

[2021-10-05 04:24] jkemp814 commented on #806
I am also noticing TEMP for second CPU not showing. When using 3.05 on Ubuntu 21.04 it would report the temp for each core. Not the hyoerthreads. I just compiled version 3.10. It does not report. (N/A)

![image](https://user-images.githubusercontent.com/12059343/135959815-fd534296-67d1-4de8-82d2-1902b530fb10.png)

[2021-10-05 04:35] natoscott commented on #821
@wooque I started trying to understand the differences you've reported based on all the numbers you've given, but soon realised each snapshot you've given is unrelated.  I'd need to see (within a very short space of time) your /proc/slabinfo, free -mw and htop reported values (ideally for both text and bar meter modes) - i.e. with ideally just a second or two between the snapshots.

To answer your

[2021-10-05 08:58] anindyasen commented on #710
Thank you @BenBE for the info. I have now made the required code change. Now for testing, in my system battery info is being read from /sys/class/power_supply , so I can test this area and it is working. But, how to test the /proc/acpi area, which is another path from which battery info can be read in other systems?

[2021-10-05 12:17] wooque commented on #821
slabinfo
[code]

free -mw

[code]

htop
![Screenshot from 2021-10-05 14-15-39](https://user-images.githubusercontent.com/1936195/136020583-c0c56af4-4a47-47b6-8ead-f81104e22316.png)

[2021-10-05 14:51] braindumped opened #831 "htop segfaults due to invalid content in htoprc"
running htop 2.2 segfaults on rhel7.9:

and 3.0.5 on the same machine:

lscpu | grep NUMA

[2021-10-05 18:18] BenBE commented on #831
Can you provide a stacktrace for that crash? Otherwise it's kinda hard to look into the reasons of the crash. You should get a stacktrace either from within `htop` itself or when starting `htop` in e.g. `gdb` and running `bt full` after the segfault occured. For best results compile `htop` with debug symbols (`-Og -g`) enabled.

[2021-10-05 20:40] braindumped commented on #831
sure:

[code]

[2021-10-05 20:54] BenBE commented on #831
Two more questions for now:

1. Can you provide a copy of your `htoprc` (`~/.config/htop/htoprc`).
2. Can you test if this issue still exists with release 3.1.0?

Please make a backup of your `htoprc` before, as version 3.1.0 introduced some new logic with the configuration file and the updated configuration file won't work with the old release.

Looking at the source it's likely the issue still p

[2021-10-05 21:09] braindumped commented on #831
htoprc:
[code]
re 3.1.0: I have issues building it:
[code]

when I remove htoprc I get only a black screen. with 2.2 and 3.0.5

[2021-10-05 22:09] BenBE commented on #831
@braindumped Please check the patch linked in the pull-request.

[2021-10-05 22:47] natoscott commented on #821
@wooque its /proc/meminfo we need to analyse this, not /proc/slabinfo.  Thanks!

[2021-10-05 22:57] wooque commented on #821
meminfo
[code]

free
[code]

htop
![Screenshot from 2021-10-06 00-56-22](https://user-images.githubusercontent.com/1936195/136113948-67b27423-99bd-4f9f-9880-c919b9189cf9.png)

[2021-10-06 06:37] braindumped commented on #831
the changes to the htoprc fixed the segfault
the patch from 832 fixed the 3.1.0 build
and silly me did not wait long enough for htop to gather all data, hence the initial blackness
thanks a lot!!

[2021-10-06 06:40] braindumped commented on #831
the changes to the htoprc fixed the segfault
the patch from 832 fixed the 3.1.0 build
and silly me did not wait long enough for htop to gather all data, hence the initial blackness
thanks a lot!!

[2021-10-06 06:40] #831 closed

[2021-10-06 11:59] eworm-de opened #835 "deleted-exe not shown"
The deleted-exe functionality broke with fbec3e4005ee88052aae273ce98943f8a3db6382:
When merged command is disabled the command name is no longer highlighted in red for deleted executables. The columns `EXE` and `COMM` have correct values, so processing in `makeCommandStr` is to blame.

[2021-10-07 06:42] #835 closed, assigned to nobody

[2021-10-07 06:56] natoscott commented on #821
@wooque OK, I've checked all the values and done all the calculations by hand now and I understand what's happening.

It'd be very helpful to get @cgzones opinion here as to why it was changed, because personally I think the htop behaviour is a bit confusing now.

Internally in htop we have a value of usedMem that matches what free(1) is reporting.  As you found, this is being discarded in the cas

[2021-10-09 17:57] nabijaczleweli commented on #806
This is broken in 3.0.x as well.

I get this on 3.0.5-7 off Debian:
[code]

And on b7248f6cb82350b683adf42d0fd4ec917397ea05:
[code]

So, unrolled, 3.0.5-7 lists the temperature for CPUs 1-3,9-11,13-15,21-23 (total 12, half of them), and b7248f6cb82350b683adf42d0fd4ec917397ea05 for 1-3,9-11 (total 6, a quarter (conspicuously similar to half of the first package? but the CPU distribution is wrong)).

[2021-10-11 15:32] m42a opened #839 "comm is not highlighted in other users' processes"
When I enable the "Try to find comm in cmdline" option, it is successfully found in processes owned by me, but not processes owned by other users.  For example, if I have a python script run by me the script name is successfully highlighted in the command line, but if the script is run by another user it is displayed separately and not highlighted in the command line:
![sleep-highlight](https://us

[2021-10-11 17:58] BenBE commented on #839
In order for `htop` to read the COMM value it needs to have access to this value.

Also the merged command view is a bit more subtle here: If COMM and EXE basename are equal, the COMM value is not highlighted separately.

Can you activate and post a screenshot with the additional COMM and EXE columns for the situation of the screenshot above?

The third process is marked this way, as EXE cannot be

[2021-10-11 22:58] marcluque commented on #778
Hi @natoscott, thank you for the insight, that makes it quite clear how PCP is intended to work.

Right now I'm trying to allow for some platform-independent process states. The reason being that I don't want to make a huge enum with all possible platform-specific process states. Instead I have an enum that contains a define that is defined based on the platform. I introduced a function/mapping be

[2021-10-11 23:33] natoscott commented on #778
It's not going to be huge FWIW - there is a small, fixed set of states across all platforms.  You may be over-thinking this.

There's two ways I guess - we could take platform-specific action based on the value of the PCP metric kernel.uname.sysname (which has value "Linux" on linux, etc).  Then we'd have to have separate handlers for each supported platform within the PCP code, which is quite inc

[2021-10-15 06:41] scalisi opened #844 "htop 3.1.1 segfaults when adding "CPU average" meter"
1. I installed htop 3.1.1 from source on Debian Buster.
2. I ran htop and noticed that my custom header had reverted to the default.
3. I deleted my htoprc.
4. I reconfigured htop, which included adding the **CPU average** meter to the header.
5. I quit htop.
6. "Segmentation fault" was printed in my terminal.
7. I ran htop again and saw that my custom header had reverted to the default again.
8.

[2021-10-15 07:16] mhmdanas commented on #824
<img src='https://user-images.githubusercontent.com/32234660/137447163-d65f0357-1203-4663-92e5-a9fe5d26e6d0.png'>

[2021-10-15 07:59] fasterit commented on #844
Could you please compile with `--enable-debug`¸ and then provide a `gdb` stack backtrace of the segfault?

`gdb -batch -ex "run" -ex "bt full" ./htop 2>&1` should do.

NB: DLange could not reproduce locally.

[2021-10-15 09:48] scalisi commented on #844
[code]

[2021-10-15 10:17] #844 closed, assigned to cgzones

[2021-10-15 15:15] cgzones commented on #824
The htop color scheme `Broken Gray` was designed for these terminals. Its also not just about `$TERM` as on some systems `TERM=screen ./htop` works fine. #251 is probably related.

[2021-10-18 02:38] cobrafast opened #846 "What do red and yellow process names mean?"
I remember red process names having something to do with deleted or replaced binaries.
But now there are yellow process names too. What does that mean?

The only hint is "Highlight out-dated/removed programs" in display options, but it does not make clear which color is which.
These colors are not explained in either the F1 page or the `man` page, where I would expect it.

I suppose the same could

[2021-10-18 07:10] BenBE commented on #846
What do you think about the following update to the wording of the wording?

[code]

[2021-10-18 17:17] BenBE commented on #846
You mean like so?

[code]

[2021-10-19 05:00] #846 closed, assigned to nobody

[2021-10-19 05:28] evan0greenup opened #848 "Add description for different color of memory usage"
Just a single percentage bar with different color might a little bit difficult to understand.

It would be nice to add a some description about what each color means for memory usage.

For example, some may be for runtime memory, some is for buffering and cache, and some may be for tmpfs.

A few lines of description may be make it more readable.

[2021-10-19 06:44] #735 closed, assigned to nobody

[2021-10-19 06:47] BenBE commented on #735
Closed, cf. https://github.com/htop-dev/htop/pull/736#issuecomment-946412725

[2021-10-19 22:27] lucaswerkmeister opened #850 "“Security Attribute” column width mismatch between table header and body"
When the SECATTR column is added to htop, it’s much wider in the actual table than in the header, which means that all the header columns following it are misaligned.
[code]
![Screenshot from 2021-10-20 00-22-54](https://user-images.githubusercontent.com/2346599/137998898-edb0b702-ce81-454e-94ba-b2fc53a20d33.png)

This also happens when the column is in another position, though I haven’t tested al

[2021-10-19 22:30] BenBE commented on #850
Please test the following patch:

[code]

[2021-10-19 22:32] lucaswerkmeister commented on #850
I tested the following:

[code]

Let me reset that and see if yours is the same ^^

[2021-10-20 13:42] davezarzycki commented on #447
Alternatively, maybe `htop` should just have a "usable memory" meter that ignores all reserved memory.

[2021-10-21 20:12] hyder365 opened #853 "Offline CPUs"
Hi. Would it be possible to add a configure flag (or even runtime option) to disable the showing of offline CPUs? It's taking up space in the terminal for no reason that I can see. Thanks.

[2021-10-22 11:03] onlined opened #855 "Migrating codebase to C++"
Hi all,
I am currently working on #854, it is my first (hopefully not last) PR to this repo. While I was working on it, I realized that there is some convention for namespacing and there is a class hierarchy starting with `Object` struct. To me, it seems like C++ remove most of the boilerplate here. And probably it will remove the need for most of the utility functions in `XUtils.c`.

So, I have s

[2021-10-23 17:48] somera opened #856 "Missing temperature for some threads"
I'm using self compiled 3.1.1 release.

On one computer I missing temperature for threads 5-8

![image](https://user-images.githubusercontent.com/8334250/138566449-a6f83953-379e-4780-a66b-9a2939cf92e3.png)

In btop++ I see temperature for all cores

![image](https://user-images.githubusercontent.com/8334250/138566496-890dd5eb-34c4-4791-89cc-f0813fb65256.png)

For the same CPU on other computer it'

[2021-10-27 15:28] SunRed opened #858 "Option to exclude HugePages from memory"
Commit 04871a2d04361517f2e539810cb11e9e9898f0d0 reverted a change I actually welcomed and didn't know would be quite handy. I use htop on a kvm host where I use hugepages for the vms and having the memory bar filled up almost entirely with huge pages isn't quite useful, also since there is a separate bar for huge pages I can see the currently used and allocated hugepages in so that it's quite redu

[2021-10-29 02:16] UnixJunkie opened #859 "[feature request] the -n <int> option of top"
Hello,
top can be used in batch mode with the -n option:
you specify how many screen refreshes you wan before top exits.
And at the end, you see the last screen top was displaying.
Such behavior would be cool for htop too.
For example, I want to see the htop screen just once (and it should not disappear
once htop has quit).
Regards,
F.

[2021-10-29 19:01] toralf opened #860 "Disk IO: value is not initialized"
The very first value seems to be ridiculous high, the following looks ok.

(version 3.1.1)

[2021-10-30 08:35] BenBE commented on #860
As this meter calculates its updates by reading the current stats for a device and calculating deltas this indicates that there is an initial update call missing for this value.

Can you check if the following patch resolves your issue?
[code]

[2021-10-30 08:55] toralf commented on #860
indeed - solved

[2021-10-30 08:55] #860 closed

[2021-10-30 16:06] xx55tt opened #861 "htop 3.1.1 segfaults on exit"
Steps to reproduce the issue:
1. Start htop
2. Press `F5`
3. Press `F2`
4. Press `q` twice to exit

Stack trace from the core dump:
[code]
Info from Valgrind:
[code]
If you can't reproduce it I can look into it properly later with a debug build. It seems like an incorrect column count is used for the loop in `Settings_delete`.

[2021-10-30 16:27] xx55tt commented on #861
I should have checked first, this has been already fixed by commit https://github.com/htop-dev/htop/commit/604744f68d5c0375987eb9b60298f2affd1d8f38.

[2021-10-30 16:27] #861 closed

[2021-10-31 14:07] #331 closed

[2021-10-31 17:32] vasvolodimir commented on #859
Hello @BenBE,
I'd like to work on it if you don't mind =)

[2021-10-31 21:04] BenBE commented on #859
Sure, have a look at the linked issue when working on this so the ideas from there can be included in this new feature.

[2021-10-31 21:14] Hexcede opened #862 "[feature request] Ability to change the default kill signal"
This is a very minor QoL thing, it's not particularly consequential but would be easily implemented and save me (and probably others) quite a lot of time. When killing a program, the default kill signal is 15 (SIGTERM). However, some programs such as ones under wine don't seem to be effected by the signal, and programs which are hanging are not effected by it either.

Would love to be able to swit

[2021-11-01 00:42] lepe opened #863 "HTOP reporting 16.0Z as memory usage in alpine 3.14 in LXD / Ubuntu 18.04"
When using Alpine Linux 3.14 (amd64) as container, memory inside htop is always reported as "16.0Z" while in previous versions it shows the correct value. Values inside top command seems correct.

How to reproduce:

[code]

What to expect:

In memory "bar", it should display the correct value, for example: 8M

@aither64 :

@stgraber :

The issue is resolved after executing such command. Here is th

[2021-11-01 00:55] UnixJunkie commented on #859
thanks a lot @vasvolodimir

[2021-11-01 06:51] BenBE commented on #863
Which version of `htop` are you using (<kbd>F1</kbd> inside `htop` should tell)?

What does `/proc/spl/kstat/zfs/arcstats` look like?

Can you pin down an old version that this issue did not yet appear in?

[2021-11-01 10:11] aither64 commented on #863
To expand on my comment quoted above... LXC/LXD containers use LXCFS to override certain files in `/proc` and `/sys` to show values specific to containers. For example, `/proc/meminfo` is generated from the container's memory cgroup. This is to ensure that tools reading `/proc/meminfo` report values relevant to the container it is run in and not the host system.

As I understand it, the issue is t

[2021-11-01 15:43] fasterit commented on #863
When we walk processes we should use `/proc/1/cgroup` to detect whether `htop` runs under these, set a flag and in turn omit substracting the ARC cache.

[2021-11-01 17:48] BenBE commented on #863
Or skip substracting the ARC when it's larger than the available memory.

From inside a container you can't necessarily detect that you are inside one.

[2021-11-01 17:58] fasterit commented on #863
@BenBE The subtract only when it's larger than available memory is a bad heuristic as it will misfire when people have lots of RAM or little ARC caches.

Currently you can identify for sure that you are in one of the affected container runtimes. What you are thinking of is more full VMs that - for security analysis reasons - hide that they are in fact a VM. These would not see the host ARC cache a

[2021-11-01 19:10] BenBE commented on #863
@fasterit Okay, if you document this assumption properly about being able to identify being inside a container, fine by me.

And regarding the heuristic: I actually only just meant the case `ARC > totalMem` / `ARC > usedMem`, i.e. when we know this will underflow and thus report incorrect values. At least as a fallback this might be worth having.